[2010-12-31 19:25] juliend2 opened #2 "yt:statistics not returned when there's no Views on a Video"
Hi there,

In youtube.rb, this line wrongly assumes that there will always be a yt:statistics field returned by Youtube:
        @view_count       = doc.search("yt:statistics").first[:viewcount].to_i

Here is the error i got:
app/models/video.rb:55:in `new'
app/models/video.rb:55:in`_unmemoized_video_infos'
app/models/video.rb:7:in `valid_video?'
app/views/videos/index.html.haml:7:in`_app_views_vi

[2011-01-13 08:21] #2 closed, assigned to nobody

[2011-11-24 13:14] ghost opened #9 "weird regex issue?"
With 'http://' .. all good.

[code]

Without ... WHOAH.

[code]

[2011-12-03 12:47] #9 closed, assigned to nobody

[2012-05-23 00:35] jeremysenn opened #14 "Hyphens in youtube url cause 400 bad request error"
If youtube share url contains a hyphen (e.g. "http://www.youtube.com/watch?v=k-c2GGk1cmw"), calling VideoInfo.new("http://www.youtube.com/watch?v=k-c2GGk1cmw") throws the following error:

OpenURI::HTTPError: 400 Bad Request

[2012-05-30 14:23] #14 closed, assigned to nobody

[2012-09-11 19:01] waynehoover opened #16 "Set width and height of video embed"
It would be nice to be able to set the width and height of the video when the embed code is output.

[2012-09-18 13:31] #16 closed, assigned to nobody

[2012-12-10 15:43] NARKOZ opened #19 "different behavior of providers"
[code]

returns info for vimeo links, but not youtube links.

Reverting #10 can make it to return youtube info.

[2012-12-10 16:45] #19 closed, assigned to nobody

[2012-12-26 17:26] LittleG opened #21 "on error (not valid id) return nil object"
Its would be better if it would return a nilobject, but now its return a youtube object with openURI_options, iframe_attributes and nothing else.
What is your opinion?

[2012-12-29 22:22] #21 closed, assigned to nobody

[2013-01-07 17:16] willfults opened #22 "Gem is broken? uninitialized constant VideoInfo::VERSION"
When I install the gem in my gemfile, then run the simple examples I get the following error...

uninitialized constant VideoInfo::VERSION
c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/video_info-1.1.0/lib/video_info.rb:30:in `clean_options'
c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/video_info-1.1.0/lib/video_info.rb:9:in`get'

My code is as follows... in the gemfile ...
gem 'vid

[2013-01-07 18:23] #22 closed, assigned to nobody

[2013-03-12 04:42] ghost opened #23 "Issue loading with MulitJSON"
Right now multijson is messed up so you have to use .decode instead of .load.

[2013-03-26 18:28] dsmalko opened #24 "Custom providers"
What is best way to register new provider?
It is hardcoded now:

[code]

[2013-04-15 06:15] #23 closed, assigned to nobody

[2013-04-15 22:53] willfults opened #26 "Some valid youtube urls return nil"
For example using video_info 1.2 this url returns nil...
http://www.youtube.com/user/EducatorVids3?v=VeasFckfMHY

[2013-04-16 09:57] #26 closed, assigned to nobody

[2013-04-16 09:59] #24 closed, assigned to nobody

[2013-04-18 22:31] willfults opened #28 "youtube url supported?"
Hi,
This youtube url is returning Nil when I run it through the latest version of Video Info....
http://www.youtube.com/watch?feature=player_profilepage&v=VeasFckfMHY

[2013-04-19 14:17] #28 closed, assigned to nobody

[2013-08-29 20:06] NARKOZ opened #30 "YouTube embed code"
I noticed that YouTube suggests following embed code:

[code]

while video_info #embed_code outputs:

[code]

Notice embed url difference.

[2013-08-29 21:00] #30 closed, assigned to nobody

[2013-09-17 05:02] bf4 opened #32 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-10-07 20:07] #32 closed, assigned to nobody

[2013-10-24 19:26] synth opened #35 "VideoInfo.get call is too slow; takes from 100ms to 500ms"
Here are some sample results:

[code]

I'm writing a simple blog that has many posts on the homepage and each post can have a video embed...this makes homepage loading dreadfully slow.

[2013-10-25 18:53] #35 closed, assigned to nobody

[2014-01-22 17:24] b3ccio opened #38 "undefined method `embed_code' for #<Youtube:0x007fd4c0f3e688>"
Hello,

I updated the video_info gem and I'm getting an undefined method for embed_code and embed_url on save. Anyone else having the same issue?

Thanks

[2014-01-23 13:07] #38 closed, assigned to nobody

[2014-02-20 14:15] karlentwistle opened #40 "NameError: uninitialized constant VideoInfo::Provider::Net"
[code]

[2014-02-20 14:23] #40 closed, assigned to nobody

[2014-03-14 14:19] juniovitorino opened #47 "undefined method `url' for #<Object:0x007f807a8cd780>"
In version 2.30 I'm getting this error with url method.

`2.0.0 (main):0 > v = VideoInfo.new 'http://www.youtube.com/watch?v=L7U6STcaCkU'
(pry) output error: #<NoMethodError: undefined method `url' for #<Object:0x007f807a8cd780>>`

[2014-03-17 13:02] #47 closed, assigned to nobody

[2014-03-23 08:13] apprentice1988 opened #48 "I can't get these info listed in your readme"
I add this gem to my ror app, I try the url provided by you, however, I can only get provider and video_id.  I use ruby 2.1.1 and rails 4.1.0.rc1. Can you help me?

[2014-03-23 08:20] #48 closed, assigned to nobody

[2014-04-14 18:58] ghost opened #50 "Support for metacafe videos"
Is there any way this gem could support embedding of  metacafe videos?

[2014-05-22 20:51] gottfrois opened #51 "Embed code not working"
Hi,

Thanks for the good work ! I have an issue with the `embed_code` that do not include the `http` or `https` prefix. When copy/pasting the `embed_code` into a blank html page, the video is not showing and I got a "missing file" error.

Tried with `https://www.youtube.com/watch?v=juRUOGv1T2k` and html code is:

[code]

If I manually add `http` it's working under Chrome 34

Thanks !

[2014-05-23 13:20] #51 closed, assigned to nobody

[2014-07-21 14:26] bharatsoni14 opened #53 "get nil for dailymotion video urls"
I have done like the blow:

video = VideoInfo.get("http://www.dailymotion.com/video/x21ciho_official-devil-yaar-naa-miley-salman-khan-yo-yo-honey-singh-kick_music")

but it's get nil inside it

others two(Vimeo,Youtube) working fine.

[2014-07-21 14:48] #53 closed, assigned to nobody

[2014-09-25 06:15] fuzzyjulz opened #54 "16:9 aspect videos"
It appears that the youtube medium thumbnail is 4:3 and the vimeo medium thumbnail is 16:9. It would be really good if there were a way of asking for a medium 16:9 image. This probably applies to other formats as well.

[2014-09-29 14:33] lukaszraczylo opened #55 "YouTube keywords / tags missing"
I couldn't find a way to access keywords hash / array

[2014-10-02 22:22] #55 closed, assigned to nobody

[2014-10-29 16:45] ckirk opened #56 "VideoInfo can't pull data from Vimeo videos with OnDemand purchase options"
Vimeo videos with links such as the following don't seem to work:
https://vimeo.com/ondemand/less/101677664

You can use the standard Vimeo url:
https://vimeo.com/101677664

But it will just redirect to:
https://vimeo.com/ondemand/less/101677664

It would be really cool if you could add support for the relatively new Vimeo feature. Thanks!

[2014-12-09 20:48] djvs opened #60 "Playlist support"
Url is not valid, video_id is not found: http://www.youtube.com/playlist?list=PL2ED78A08F2D2DD68

I think Playlists can be embedded pretty easily.  Could you add support?

[2014-12-10 08:05] #50 closed, assigned to nobody

[2015-01-20 16:26] Calamari opened #61 "VimeoPro support"
Hey ho.

I just came across VimeoPro. It'S Vimeo with customized pages, but it still allows for embeding the videos. Would be could when it would work, right?

An URL of VimeoPro looks something like: `http://vimeopro.com/talentrelations/studentwork/video/52377271`

Would that be something, that is easily achieved?

[2015-01-20 19:49] thibaudgg commented on #61
Sounds good, could you submit a PR please?

[2015-01-21 12:27] Calamari commented on #61
I'm not quite sure if I will have the time, but I could try.

[2015-02-19 11:40] paneq opened #62 "VideoInfo doesn't convert networking errors into custom exceptions"
Which means client of the library must look into its implementation details to know what to catch.

[2015-02-19 12:59] thibaudgg commented on #62
Ok not good, could you please submit a PR to fix that? Thanks! :heart_decoration:

[2015-03-09 13:30] thibaudgg commented on #62
@paneq are you still interested to fix that?

[2015-03-09 13:30] thibaudgg commented on #61
@Calamari Should I close it? No worries if you don't have time for it.

[2015-03-09 13:31] thibaudgg commented on #60
@djvs are you interested to submit a PR for that one?

[2015-03-09 13:31] #56 closed

[2015-03-09 13:31] #54 closed

[2015-03-09 15:07] djvs commented on #60
No time,  you could try grabbing the code from YouTube-dl though
On Mar 9, 2015 9:31 AM, "Thibaud Guillaume-Gentil" <notifications@github.com>
wrote:

[2015-03-09 17:13] Calamari commented on #61
I still would like to have it, but haven't got the time to do that yet. I guess there are more important things for me to do at the moment. :)

[2015-03-09 18:28] paneq commented on #62
@thibaudgg are you ok with dependency on `net_http_timeout_errors` gem for that?

[2015-03-09 19:39] thibaudgg commented on #61
@Calamari no worries feel free to submit a PR at any time, I'll close this issue in the meantime!

[2015-03-09 19:39] #61 closed

[2015-03-09 19:40] thibaudgg commented on #62
Sure, the gem looks fine.

[2015-05-07 18:21] vheuken opened #66 "Youtube API changed, breaking video_info's youtube support"
I have a program that uses this gem to get titles of Youtube videos, but recently it has just been returning

I haven't looked into the new API or the video_info code, but I could take a stab at fixing this in a day or two if someone else doesn't get to it.

[2015-05-07 20:03] vheuken commented on #66
I just gave fixing a quick shot. Just changed _api_base and _api_path. It's giving me 402 Forbidden because I don't have an API key. I'm not sure how you want to handle that, but if you let me know I can try and implement it.

Here is what I changed it to (_api_path options are certainly not optimal, I just grabbed it from an example and removed the API key parameter).

[code]

[2015-05-07 21:28] thibaudgg commented on #66
Hey @vheuken thanks for opening this issue, I just saw that today as well while trying to fix master branch for #65. I'm not currently using this gem so some help would be awesome. Please feel free to open an issue and ask any question there. For now it seems that YouTube Data API v2 is gone and we would need to the v3 that only support authenticated request?
https://developers.google.com/youtube/

[2015-05-07 21:57] vheuken commented on #66
Yup. I'd have no problem changing the API to v3, but I didn't know how you wanted to handle the API key.

I think the best way would be a class variable for the API key and implement a means of disabling provider support (looks like it'd be trivial to implement).
If the API key is nil, throw an error.
If the user doesn't want to provide an API key, then they can disable YouTube support.

Does this

[2015-05-08 07:58] thibaudgg commented on #66
Sounds good, something like that?

[code]

Thanks for working on that.

[2015-05-08 11:59] bonf commented on #66
Hi,
I've been using this gem for a couple websites, so I figured I could give a little help to fix it.

I have a working version on my fork
https://github.com/bonf/video_info

it's far from complete, but seems to go in the right direction, and it's working in production for my use case, feel free to use my code if you find it useful.

Notes:
- I added a dependency on the iso8601 gem, needed to par

[2015-05-08 13:20] thibaudgg commented on #66
@bonf Thanks! I'm pretty sure that @vheuken will found this useful.

[2015-05-09 01:03] vheuken commented on #66
@thibaudgg Yeah, exactly like that.

@bonf Thanks for showing me your commit. I just skimmed over it, but it looks like you already did the bulk of the work. Appreciate it!

[2015-05-10 09:02] GoodJob opened #69 "Error on getting title from youtube"
I'm getting all variables correctly from youtube video except the title.

I'm getting the result:
video.title = 'https://youtube.com/devicesupport'

whatever video I will choose from youtube. Maybe there is any solution? Thank you!

[2015-05-10 19:22] thibaudgg commented on #69
Yeah @vheuken is actively working on it! :heart_eyes:

[2015-05-11 08:05] vheuken commented on #66
@bonf Thanks, saved me a lot of time! I merged your file and cleaned it up a bit. It's in PR #68

Anyway, current status is that everything in Youtube works except `#available?`, which I can't figure out.

As for YoutubePlaylist, I haven't even looked at that yet. If nobody jumps on it, I'll get to it sometime in the 1-3 days.

And thanks for making this gem, @thibaudgg! Really useful!

[2015-05-11 08:43] bonf commented on #66
@vheuken
I gave it a better look, the problem is in the implementation of #available (provider.rb) which checks the response code not being 4XX.

The new youtube api returns 200 even if the video is not available, example (with a invalid video_id)
[code]

if video is valid it returns one item in the "items" array.

I think we need to diverge from the original implementation, because it assumes an

[2015-05-11 09:02] vheuken commented on #66
@bonf I'll look more closely at your stuff, but my issue isn't that it returns 200, it is that it returns 403 when the video is available.

[code]

[2015-05-11 09:04] vheuken commented on #66
May I ask what kind of API key you're using to test with? I'm using the one meant for browsers.

[2015-05-11 09:08] vheuken commented on #66
@bonf Your first fix fails with the same error as before. The second one works, though. I'm betting that you're using the API key meant for servers and that the browser one 403s for some reason.

I guess this means that the second one is probably the proper solution.

[2015-05-11 09:24] vheuken commented on #66
Alright, that's probably it then.

I added your second solution to my PR.

[2015-05-11 09:25] bonf commented on #66
Anyway, I think you're getting a 403 because the default implementation of #_response_code (in provider.rb) uses HTTP instead of https

[code]

if you look at my first implementation, it changes to HTTPS.

I think the second solution is better too.

[2015-05-11 09:26] vheuken commented on #66
I tried that and it still failed. Regardless, second solution works nicely.

[2015-05-11 10:41] mwanas opened #70 "The youtube video duration is wrong"
Trying any video duration is always giving 236 sec

[2015-05-11 11:39] thibaudgg commented on #70
Hey thanks for opening this issue, it could be related to https://github.com/thibaudgg/video_info/pull/68

[2015-05-11 11:47] mwanas commented on #70
what should I do to fix the issue ?

[2015-05-11 12:14] thibaudgg commented on #70
I would wait that #68 has been merged, maybe you can try the branch in the meantime.

[2015-05-11 22:06] vheuken commented on #70
@mwanas The issue is fixed on my branch so you can grab that code if you want.  You'll need to grab a youtube API key, though. There is documentation in the README in my branch on how to do this.

[2015-05-12 00:31] vheuken opened #71 "Vkontakte#available? returns true with private video"
The issue is that it is giving a 200 response code.

[code]

[2015-05-12 06:50] thibaudgg commented on #70
@vheuken :+1:, thanks!

[2015-05-12 07:06] thibaudgg commented on #71
Mmm could you point to Vkontakte API docs? That's weird it's just 200 or there is some body content?

[2015-05-12 07:17] vheuken commented on #71
There is body content. It's just the HTML of the page you get when you go to a private video: http://vk.com/video9491528_165193133

It looks like it doesn't use an API, just scrapes the page. So I think I could just check for the "Error" and "Access denied" in the HTML.

[2015-05-12 07:19] thibaudgg commented on #71
Sounds like a good idea. Go for old day scraping!

[2015-05-13 00:36] vheuken commented on #71
Fixed in #72

[2015-05-13 11:17] drakmail commented on #71
@vheuken thank you, just seems vkontakte broken again their HTML :angry:

[2015-05-14 17:48] ttseng commented on #66
Hi!  I tried incorporating @vheuken's changes in my Gemfile with the following:

gem 'video_info', :git => 'https://github.com/vheuken/video_info.git'

but I'm still getting the "device support" error when I try to generate a thumbnail with:

thumbnail_url = VideoInfo.get(embed_url).thumbnail_large

Any suggestions for how to resolve this?

Thanks!

[2015-05-14 18:20] vheuken commented on #66
@ttseng That's odd, since there _is_ a spec for that. I'll take a deeper look tonight.

[2015-05-14 18:22] vheuken commented on #66
@ttseng I just realized, my changes are *NOT* in the master branch. You're pulling from my master branch. Try using the branch youtube-fix.

[2015-05-14 19:48] thibaudgg commented on #66
@vheuken I just merged the PR!

[2015-05-14 19:49] thibaudgg commented on #71
#72 merged, thanks @vheuken!

[2015-05-14 19:49] #71 closed

[2015-05-14 20:05] thibaudgg commented on #70
@mwanas could you try the master branch and confirm that it works for you now? Thanks!

[2015-05-14 20:05] thibaudgg commented on #66
@vheuken YoutubePlaylist support is still failing on master, do you have an idea why?

[2015-05-15 09:43] tatsuaka opened #74 "undefined method `provider_api_keys=' for VideoInfo:Class"
Hello,

Thanks for your useful gem.

I had a error when put 'VideoInfo.provider_api_keys = { youtube: 'YOUR_API_KEY' }' in new action in my controller. 'VideoInfo.new' is working properly.

I tried to update gem but is not resolved.

Where should I put youtube provider api keys?

[2015-05-15 11:55] #74 closed

[2015-05-15 13:00] mensfeld commented on #66
still fails

[2015-05-15 13:11] vheuken commented on #66
@mensfeld Huh. I'll have a look and see if I can find what's up.

[2015-05-15 13:14] vheuken commented on #66
Odd. I'm trying @thibaudgg's master branch and accessing anything (title, description, whatever) just hangs indefinately. The youtube_spec hangs, too, which definitely wasn't happening when I first implemented it.

[2015-05-15 13:19] vheuken commented on #66
Actually, ignore my previous comment. I tried it on a server and it turns out it is just happening on my local machine (which makes sense because my internet has been screwy...)

[2015-05-15 13:22] vheuken commented on #66
@mensfeld It works fine for me. Can you replicate your error in irb and copy/paste everything?

[code]

[2015-05-16 18:48] thibaudgg commented on #66
@mensfeld there's an open PR (#73) for fixing it.

[2015-05-19 21:00] ckirk commented on #66
This fix doesn't seem to be working for me. When trying to set my YT api key i get the error:
[code]
Is this fix merged into the master branch yet? I'm simply following the readme on github. This is currently breaking some major functionality in one of my apps. Thanks!

[2015-05-19 22:53] vheuken commented on #66
@ckirk It is merged into the master branch, but it is not pushed to RubyGems. That should hopefully happen soon as I plan to finish some other stuff that is necessary before it can be pushed tonight.

Are you pulling from Github, or are you just using what's on RubyGems?

[2015-05-20 03:00] ckirk commented on #66
I used RubyGems. Okay no problem. I can wait a day to fix this. Thought I was doing something wrong. You're pushing the update tonight?

[2015-05-20 05:12] vheuken commented on #66
@ckirk For now, you can try this in your Gemfile:

`gem 'video_info', :git => 'https://github.com/thibaudgg/video_info.git'`

I plan on having my stuff done within a few hours, but I don't personally push the gem to RubyGems

[2015-05-20 07:14] thibaudgg commented on #66
I'll push a new release when everything is ready, no hurry. In the meantime, using the master is the way to go!

[code]

[2015-05-20 16:22] ckirk commented on #66
Thanks! Is the master supposed to be working properly? It's accepting my youtube api key now, but does not return data for youtube videos. I'm getting this error:

[code]

Keep up the good work, guys!

[2015-05-20 16:45] vheuken commented on #66
Are you sure your key is correct? 403 is returned when the key isn't valid.

[2015-05-20 16:47] vheuken commented on #66
Also, when you got an API key, did you get one for servers or for browsers?

It should be, yes. The specs pass. https://github.com/thibaudgg/video_info/blob/master/spec/lib/video_info/providers/youtube_spec.rb#L5

[2015-05-20 17:12] ckirk commented on #66
Thanks man. Yeah its a browser key. Was using it for a chrome extension. Forgot you need a different key for servers. Should fix it. You da best!

[2015-05-20 17:27] vheuken commented on #66
Actually, browser keys _should_ work fine. The API key in the spec is a browser key. Strange.

Anyway, glad you got it working!

[2015-05-22 16:35] kyprifog opened #75 "403"
I am getting a 403 error when I call thumbnail_medium no matter what API key I use, including the api keys included in the documentation.  I have tried both server and browser api keys and I have tried changing the user agent.  Any ideas?

[2015-05-22 16:37] kyprifog commented on #66
I can't get any key to work browser or server keys, I get always get a 403 error.  I think it has to do with the User-Agent being passed in the gem and how google validates the user agent?  Does that have to be something with my google api project?

[2015-05-22 16:39] kyprifog commented on #66
I verified that it is putting the api key correctly in the call, and in fact if I use a curl instead of open-uri, I have to change the http: to https: but it works, however I can't get it to work in the gem.

[2015-05-22 16:39] vheuken commented on #66
That is very odd. Have you tried modifying the spec to use your API key?

[2015-05-22 16:40] vheuken commented on #66
Also, I'll definitely push the scraper code tonight, so you can try that if you can wait.

[2015-05-22 16:41] kyprifog commented on #66
Yeah I tried the api key in the spec too

[2015-05-22 19:59] #75 closed

[2015-05-22 20:01] kyprifog commented on #66
I uninstalled, reinstalled, worked through an OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv3, only to be greeted by a
[code]
on line 61 of provider.rb

[2015-05-22 20:13] kyprifog commented on #66
if I change load to decode, it seems to work.

[2015-05-22 20:20] vheuken commented on #66
I need some more info to debug this. Can you pull from @thibaudgg's master branch, do a bundle install, and run `rspec spec/lib/video_info/providers/youtube_spec.rb` and paste the output (if there are any errors)? Also, what version of Ruby are you using?

Thanks!

[2015-05-22 20:37] vheuken commented on #66
Sounds like it could be because you have a different version of multi_json installed. Can you give me the output of `gem list multi_json` on your machine?

[2015-05-22 20:44] kyprifog commented on #66
This is really weird, in pry I went to the line and I did
"show-method MultiJson.load"
and it returned:

From: /Users/kyle/.rvm/gems/ruby-2.1.2@localstake/gems/activesupport-3.2.17/lib/active_support/dependencies.rb @ line 243:
Owner: ActiveSupport::Dependencies::Loadable
Visibility: public
Number of lines: 5

It wasn't even calling multijson! Then I did "show-method MultiJson.decode" and it retur

[2015-05-22 20:57] vheuken commented on #66
1.04? I just checked the multi_json source, and multi_json 1.04 didn't have the function `MultiJson.load` implemented (it was implemented later)

Can you install the latest version? My machine has 1.11 and 1.10.1 installed.

[2015-05-22 21:03] vheuken commented on #66
@thibaudgg Looks the multi_json gem needs to be pinned to a specific version. I can handle this.

[2015-05-22 23:28] kyprifog commented on #66
Hey thanks for your help, not sure how my multijson got so behind

[2015-05-23 11:20] thibaudgg commented on #66
@vheuken great, thanks for the debug. You can fire a PR asking for `~> 1.11` I guess.

[2015-05-27 04:53] yongquanben commented on #74
I have encountered this problem as well. Could you share how you resolve this issue?

[2015-05-27 05:46] tatsuaka commented on #74
As they write, just put the code in my controller

def method_name
      VideoInfo.provider_api_keys = { youtube:  'YOUR_API_KEY'}
end

but, sometimes it's failed to get info

I resolve to change url 'https' to 'http' also 'http' to 'https' thought this ways is not perfect.

I think it's not gem's fault. Youtube may be getting be evil...:)

Hope to helps you.

[2015-05-27 07:25] yongquanben commented on #74
Thanks @tatsuaka

Also found out in other issue that you should add this to your gemfile instead.

gem 'video_info', github: 'thibaudgg/video_info'

Hope it helps!

[2015-05-27 19:58] elfassy commented on #66
i'm no longer getting the default thumbnail for removed videos. This might be related to this upgrade.
Example: http://www.youtube.com/watch?v=ToaHQI9X5RI

[code]

[2015-05-27 21:04] vheuken commented on #66
@elfassy I'll test it out tonight, but I have a feeling the new API just doesn't give the thumbnails for removed videos.

Sorry for the delay on the page scraping stuff. I've been a bit busy

[2015-05-28 01:05] elfassy commented on #66
@vheuken see pull request #76 :)

[2015-05-29 07:22] HiteshSongra opened #77 "undefined method `provider_api_keys=' for VideoInfo:Class"
Hello,

I got this error.
undefined method `provider_api_keys=' for VideoInfo:Class

Here is code
VideoInfo.provider_api_keys = { youtube: "XXXXXXXXXXXXXXXXXXXXXXXX" }

My Gemfile gem as
- gem 'video_info', '~> 2.4.2'

[2015-05-29 07:26] thibaudgg commented on #77
We didn't release master branch yet, please use:

[code]

[2015-05-29 07:26] #77 closed

[2015-05-29 07:35] HiteshSongra commented on #77
Thanks Thibaud,

It's resolved.

[2015-05-29 21:42] isaeff commented on #69
@thibaudgg maybe using of some parser will be good temporary solution?

[2015-05-29 21:47] vheuken commented on #69
@isaeff I'm writing the parser now. I'm setting aside time this weekend to finish it.

For now, you can pull from master and use the API to get the video title. Follow the instructions in README.md. It works well!

[2015-06-02 06:42] #70 closed

[2015-06-02 06:42] thibaudgg commented on #66
#76 merged!

[2015-06-02 06:42] #66 closed

[2015-06-02 06:42] #60 closed

[2015-06-02 06:43] thibaudgg commented on #62
@vheuken maybe it would solve/explain our problem on travis-ci, what do you think?

[2015-06-02 08:30] vheuken commented on #62
Actually, I think the Travis issue was just temporary. I was pushing some stuff earlier today and Travis seemed fine: https://travis-ci.org/vheuken/video_info/builds/65020229 (failing because work is in progress, but not stalling/timing out). Except JRuby. Jruby seems to have issues with some Vkontakte stuff.

That being said, if @paneq lost interest in implementing this, I could certainly give it

[2015-06-02 09:22] thibaudgg commented on #62
@paneq what did you had in mind?

[2015-06-02 15:25] paneq commented on #62
I had in mind:

[code]

The best place to wrap this logic seems to be `_set_data_from_api` I think after looking quickly in the code.

[2015-06-03 17:50] vheuken commented on #62
@paneq Thanks. I'll handle this after I finish #79

[2015-06-04 06:57] thibaudgg commented on #62
:+1:

[2015-06-04 10:14] paneq commented on #62
Just got one more error `OpenURI::HTTPError` on production which is not covered by `NetHttpTimeoutErrors.all` :)

[2015-06-04 15:15] gottfrois opened #80 "HTTP 410 Gone on Youtube API"
I see that master branch has a new youtube API path. How stable is it? Because currently, using `2.4.2` version fetching video metadata on youtube return a `410 Gone` http request.

https://www.youtube.com/watch?v=rSQNi5sAwuc

[2015-06-05 06:46] thibaudgg commented on #80
It should be quite stable, if you have any problems @vheuken is your man!

[2015-06-05 07:12] sun-yr commented on #80
yeah, i got the same problem

[2015-06-05 08:05] vheuken commented on #80
Yeah, the stuff in master should work fine. Just add `gem 'video_info', github: 'thibaudgg/video_info'` to your project's Gemfile. The new Youtube API requires an API key, so follow the instructions in this project's README.md for getting and setting the Youtube API key.

Note that I'm working on getting #79 merged, which will introduce a scraper so you won't have to get an API key for most things

[2015-06-05 19:24] whistlepost commented on #80
This is a silly question, but where does the VideoInfo.provider_api_keys go? In the model or initializer? If I set it after my VideoInfo.new(youtube_link) it throws an exception.

[2015-06-06 01:19] vheuken commented on #80
@whistlepost You need to set it before you call VideoInfo.new. You just need to call it once.

[2015-06-11 00:08] ColdBlooder commented on #77
Where is the gemfile located? I'm kinda new to Ruby/gems and didn't have to edit a file before...

[2015-06-11 07:11] thibaudgg commented on #77
@ColdBlooder you can learn more about `Gemfile` and Bundler here: http://bundler.io

[2015-06-15 13:38] shubhamkhanna opened #81 "Not working for Vimeo videos."
Hi,
I am trying to get vimeo videos api but facing with following issue.

OpenURI::HTTPError: 403 Forbidden

Could you please help ASAP.
Thanks!

[2015-06-15 20:21] vheuken commented on #81
That's odd. I'll have a look tonight.

[2015-06-16 06:51] thibaudgg commented on #81
@shubhamkhanna could you please provide a running code example, with a specific video id?

[2015-06-16 07:04] shubhamkhanna commented on #81
@thibaudgg, thanks for writing

on my console i did this,
irb(main):001:0> video = VideoInfo.new("http://vimeo.com/898029")
=> #<VideoInfo:0x00000007ea6148 @provider=#<VideoInfo::Providers::Vimeo:0x00000008083c68 @options={"User-Agent"=>"VideoInfo/2.4.2"}, @url="http://vimeo.com/898029", @video_id="898029">>
irb(main):002:0> video.title
OpenURI::HTTPError: 403 Forbidden
	from /home/bgosavi/.rvm/ru

[2015-06-16 07:05] thibaudgg commented on #81
@shubhamkhanna have you also tried the master branch?

[2015-06-16 07:07] shubhamkhanna commented on #81
Yup

[2015-06-16 07:08] thibaudgg commented on #81
Ok thanks, let's see if @vheuken as some idea.

[2015-06-16 07:09] shubhamkhanna commented on #81
does vimeo videos require any api key?

[2015-06-16 07:10] thibaudgg commented on #81
It should not, maybe like YouTube they change that.

[2015-06-16 07:10] shubhamkhanna commented on #81
Ohh..ok

Thanks man!

[2015-06-16 14:10] vheuken commented on #81
Strange. This works fine for me. Can you try putting `https` in the video url instead of `http`? It didn't matter for me but I'm not sure what else it could be.

[2015-06-16 14:18] vheuken commented on #81
Also, can you try running this command:

`curl http://vimeo.com/api/v2/video/898029.json`

[2015-06-18 13:44] shubhamkhanna commented on #81
@vheuken , @thibaudgg  finally its working.. :). it was network issue.

can I get author name of vimeo and dailymotion videos?

[2015-06-18 14:02] vheuken commented on #81
That functionality currently isn't in this gem as far as I can tell. However, it looks like it is available via the API. If @thibaudgg would like it, I can add this after I finish #79 (should be done by the weekend).

[2015-06-18 14:40] thibaudgg commented on #81
@vheuken would be awesome! :+1:

[2015-06-19 12:57] shubhamkhanna commented on #81
Please  add like counts as well..

Thanks!

[2015-06-25 10:08] shubhamkhanna commented on #81
@vheuken, any updates..?

[2015-06-25 15:05] vheuken commented on #81
Not yet. I've been busier than expected. I'll make some time tonight though.
On Jun 25, 2015 3:08 AM, "shubham" <notifications@github.com> wrote:

[2015-06-25 20:01] dbackeus commented on #80
Seems like a pretty serious bug, why not release the new version on rubygems?

[2015-06-25 20:26] vheuken commented on #80
@dbackeus Youtube works (with the new API or with a scraper), but YoutubePlaylist isn't finished yet (well, API is, but not the scraper). I'm going to finish the scraper tonight and then he should release a new version.

[2015-06-26 13:11] dbackeus commented on #80
Cool :+1:

[2015-07-01 09:20] AknEp opened #82 "Release Next version (v2.4.3?)"
Why don't you release newer version?

[2015-07-01 09:22] vheuken commented on #82
I'm legitimately working on finishing the last feature for this (Youtube scraper as an API alternative) right now. He has been waiting on that for awhile, but I haven't been able to find the time to finish.

[2015-07-01 09:25] vheuken commented on #82
For now, though, you can still pull from master with:

`gem 'video_info', github: 'thibaudgg/video_info'`

You'll have to follow the instructions in the README to use the API key, though.

[2015-07-01 09:55] AknEp commented on #82
Thank you for your quick reply!
yeah, I know github option & how to set API Key. It looks working enough :)

Thanks. I'm looking forward to next version.

[2015-07-01 10:04] vheuken commented on #82
Feel free to watch #79 if you want to keep an eye on my progress. I'm currently a bit stuck but I'm sure I'll break through...

[2015-07-10 19:23] rafaelsales commented on #80
@vheuken News on this?

[2015-07-10 23:29] vheuken commented on #80
@rafaelsales I'll be finishing it this weekend (there's just one more test failing), then he should be merging it and deploying a new version when he gets back  https://github.com/thibaudgg/video_info/pull/79#issuecomment-118269799

[2015-07-16 22:49] itoufo opened #84 "Not available with valid url"
Hi,

I'm trying to use video_info in rails project.
But available? returns false with present youtube url like "http://www.youtube.com/watch?v=mZqGqE0D0n4"

I used like this
config/initializers/video_info.rb
[code]

model/video.rm
[code]

Outputs are below.
[code]

Looking forward to hearing from you soon.
Thank you!

[2015-07-16 22:58] itoufo opened #85 "Not available with valid Youtube URL"
Hi,

I'm trying to use video_info in rails project.
But available? returns false with present youtube url like "http://www.youtube.com/watch?v=mZqGqE0D0n4"

I used like this
config/initializers/video_info.rb
[code]

model/video.rm
[code]

Outputs are below.
[code]

Looking forward to hearing from you soon.
Thank you!

[2015-07-17 00:06] zdb commented on #85
The ids in the first link and your output do not match:

mZqGqE0D0n4
mZqNqE0p0n4

The id with N  at character 4 is invalid.

[code]

[code]

[2015-07-17 00:29] zdb opened #86 "400 Bad Request error suppressed when invalid API key is provided"
VideoInfo::Providers::Youtube.available?  suppresses errors via rescue false.
[code]

[code]

[code]

[2015-07-19 18:12] thibaudgg commented on #84
Did you try with the master branch or PR #79? There's some work on process with YouTube

[2015-07-19 18:13] thibaudgg commented on #85
Be sure to use master branch as well.

[2015-07-19 18:13] thibaudgg commented on #86
Master branch?

[2015-07-20 15:12] sayginburak commented on #47
Hi, @juniovitorino May I ask how did you solve this? We are getting this error too.

[2015-07-31 07:41] vheuken opened #89 "Private video used in vkontakte spec isn't private anymore"
The spec for testing `Vkontakte#available?` against private videos is failing because the video used seems to not be private anymore. It needs to be replaced by a private video, but I can't find a link to a private Vkontakte video.

The URL to the video is:
http://vk.com/video9491528_165193133

[2015-07-31 08:59] thibaudgg commented on #89
@drakmail could you provide a private Vkontakte video url? Thanks!

[2015-08-01 23:48] vheuken opened #90 "SSL issues with Jruby (only on Travis-CI)"
20 Vkontakte specs fail with jruby and nowhere else.

They all seem to have the same error, which seems to be related to SSL:

[code]

**UPDATE:** read thread for new details.

[2015-08-02 05:34] mrchess opened #91 "undefined method `provider_api_keys' for VideoInfo:Class (NoMethodError)"
I created a brand new project.

Gemfile has `gem 'video_info', github: 'thibaudgg/video_info'`

But when I do:

[code]
It throws the
`undefined method 'provider_api_keys' for VideoInfo:Class (NoMethodError)`

I'm positive I'm using the master verison as my Gemfile.lock says:

[code]

[2015-08-02 09:36] vheuken commented on #91
That's odd. Are you sure you don't have an earlier version installed that might be being used instead?

Try again after this and see if it helps:
[code]

[2015-08-02 23:24] drakmail commented on #90
Thanks for report, I'm investigate it tomorrow (finally I'm have a chance to try jruby 9000 :smile: )

[2015-08-02 23:29] drakmail commented on #89
Heh, funny. Private video, hosted from my account: http://vk.com/video39576223_166315543

[2015-08-03 04:43] mrchess commented on #91
Sorry, my error. I didn't realize this when installing gems off git:

http://stackoverflow.com/questions/26950906/issue-with-require-gem-when-passing-git-repo-to-gem-in-gemfile

[2015-08-03 04:43] #91 closed

[2015-08-03 20:09] thibaudgg commented on #90
@drakmail thanks for having a look at it, that should be the last blocker for a new release!

[2015-08-03 20:09] thibaudgg commented on #89
@drakmail thanks for the private link!

[2015-08-03 20:27] thibaudgg commented on #86
Still an issue? Could you please try again with master branch?

[2015-08-03 20:28] thibaudgg commented on #85
Master branch has been update, could you give it a try again?

[2015-08-03 20:28] thibaudgg commented on #82
Next release should be out soon!

[2015-08-03 20:29] thibaudgg commented on #81
@shubhamkhanna could you please try again with master branch?

[2015-08-03 20:32] thibaudgg commented on #80
Could you please try again with master branch, it should be fixed now.

[2015-08-03 20:32] thibaudgg commented on #69
Could you please try again with master branch, it should be fixed now.

[2015-08-03 20:32] thibaudgg commented on #62
@vheuken still interested to fix that one? (it would be great!)

[2015-08-03 23:00] vheuken commented on #89
Fixed in #92

[2015-08-03 23:00] #89 closed

[2015-08-03 23:06] vheuken commented on #62
Yeah, I'll try implementing this sometime this week. Should be relatively simple.

[2015-08-03 23:23] vheuken opened #93 "add spec/fixtures to gitignore"
Is there any reason spec/fixtures isn't in the gitignore? I've noticed that some are committed but I don't see why they're there.

It's kinda annoying to see this every `git status` :
![](http://i.imgur.com/xbA7wdH.png)

[2015-08-03 23:50] vheuken commented on #86
@thibaudgg  I don't think I fixed it. I'll look at it when I handle #62

[2015-08-04 01:43] AppyCat opened #94 "Getting a NameError (uninitialized constant error"
The code below works fine in development mode using ruby 2.2.0

However on my production server using ruby 2.1.2 I get the following error:

I, [2015-08-02T01:11:12.742798 #5361]  INFO -- : Completed 500 Internal Server Error in 52ms (ActiveRecord: 8.8ms)
F, [2015-08-02T01:11:12.743799 #5361] FATAL -- :
NameError (uninitialized constant Admin::ChampionPhotosController::VideoInfo):
 app/controllers

[2015-08-04 02:14] vheuken commented on #94
What provider are you using for the video url (Youtube, Vimeo, etc)?

Have you tried the master branch? The version in Rubygems is outdated and will be updated very soon.

[2015-08-04 03:16] AppyCat commented on #94
I'm using vimeo with this url:

https://vimeo.com/81486075

[2015-08-04 04:16] vheuken commented on #94
Have you tried the master branch yet?

It looks like this could be related to issue #81, which I believe is fixed in PR #87, which we're waiting to be rebased with master. If that doesn't get done tomorrow I'll try to rebase it myself.

[2015-08-04 05:57] AppyCat commented on #94
Thanks and yes I just tried the master branch and got the same error on the server. Only diff between development where it works and production is the ruby version. 2.2.0 in dev and 2.1.2 in production.

I use rbenv on production and it croaks when I tr to upgrade to ruby 2.2.0. So could go back a ruby version or wait until you rebase the master.

[2015-08-04 06:44] vheuken commented on #94
I believe @thibaudgg decided to only officially support 2.2.0+ (correct me if I'm wrong), so upgrading to 2.2 would be the optimal path. However, if #87 doesn't fix the issue and upgrading to 2.2 still isn't an option for you, I'll spend some time looking into your issue.

[2015-08-04 06:46] thibaudgg commented on #94
We could add back 2.1 if you want, but in most cases upgrading from 2.1 to 2.2 should be smooth, Rails 5 will only support 2.2 so I'm not sure it makes much sense to stay with 2.1.

[2015-08-04 06:54] thibaudgg commented on #86
:+1:

[2015-08-04 06:54] AppyCat commented on #94
Thank you for clarifying that. I think it would be better for me to upgrade to  2.2.0, I'll drop rbenv as it doesn't install its 2.2.0-dev version. If you can out on the intro that its 2.2+ compatible, that will help the next person with similar issue.

Would you recommend using rvm instead in production or do a system wide ruby 2.2 install?

[2015-08-04 06:55] thibaudgg commented on #93
The idea was to only re-record VCR cassette [every week](https://github.com/thibaudgg/video_info/blob/master/spec/spec_helper.rb#L15), but we could remove them completely, it would make sense here. :+1:

[2015-08-04 06:57] thibaudgg commented on #94
It depends your deployment setup but going with rvm/rbenv/chruby should be fine.

[2015-08-04 06:57] thibaudgg commented on #62
:+1:

[2015-08-04 12:19] AppyCat commented on #94
rbenv and rvm bit temperamental, so did a 2.2.2 build and video_info working nice and smooth.

[2015-08-04 12:37] thibaudgg commented on #94
:+1:

[2015-08-04 12:37] #94 closed

[2015-08-05 02:42] vheuken opened #95 "Add Vimeo scraper"
PR #87 updates the Vimeo API from v2 to v3, which requires an API key.

We should implement a scraper to be used when no Vimeo API key is provided, like we do with Youtube.

[2015-08-05 07:32] vheuken commented on #93
Done and in master.

[2015-08-05 07:32] #93 closed

[2015-08-06 06:30] vheuken commented on #81
Since #87 got merged, I'll mark this as fixed.

@shubhamkhanna Feel free to reopen it if you still have trouble with it. It requires an API key now FYI.

[2015-08-06 06:30] #81 closed

[2015-08-06 06:31] vheuken commented on #95
@thibaudgg Is this going to block the next release? If nobody else jumps on it, I may or may not be able to work on it this weekend.

[2015-08-06 06:32] vheuken commented on #69
I'm marking this as fixed since the tests for this pass.

@GoodJob feel free to reopen this if you still have the issue on the master branch.

[2015-08-06 06:32] #69 closed

[2015-08-06 06:33] vheuken commented on #80
This should definitely be fixed in the master branch. Marking it as fixed.

If any of you still have an issue, feel free to reopen this.

[2015-08-06 06:33] #80 closed

[2015-08-06 06:34] vheuken commented on #84
@itoufo This should be fixed in the master branch, so I'm closing it. If you still have issues on the master branch, feel free to let me know!

[2015-08-06 06:34] #84 closed

[2015-08-06 06:36] vheuken commented on #85
Should be fixed in master branch. @itoufo use the method @zdb described. If you still have issues, let me know!

[2015-08-06 06:36] #85 closed

[2015-08-06 06:36] vheuken commented on #95
@zdb Would you be interested in giving this a shot?

[2015-08-06 06:44] thibaudgg commented on #95
@vheuken I'm still waiting on the jruby fixes for the next release (WDYT?), having the Vimeo scraper would be great for an X jump (2.4.2 -> 3.0.0).

[2015-08-06 06:45] zdb commented on #95
@vheuken Sure.  I'll look into it this weekend.

[2015-08-06 07:01] vheuken commented on #90
I just tested with jruby 9  on my machine and it works fine. However, it still fails with jruby 9 on travis-ci.

I think Travis might be using an older version of jdk or something and that is screwing it up. Just a guess, though.

[2015-08-06 07:18] vheuken commented on #95
Thanks!

[2015-08-06 08:52] vheuken commented on #95
Also, @thibaudgg I think the jruby fixes can wait if it works on your machine under jruby 9. They work fine on my machine, so if it is just a thing with Travis-CI for some reason I don't think it's a big deal. Plus, we have jruby under "allowed failures" and the brand new jruby implements Ruby 2.1, which we aren't officially supporting.

[2015-08-06 09:09] thibaudgg commented on #95
@vheuken agree, don't loose time on the jruby travis failures. Once Vimeo scraper is here we can release a new version!

[2015-08-08 03:05] vheuken opened #96 "Youtube scraper fails when provided URL doesn't contain 'http://' or 'https://'"

[2015-08-08 03:05] vheuken commented on #96
I'll look at this this weekend. I'd imagine it's pretty simple

[2015-08-08 03:38] vheuken commented on #96
Fixed and in master.

[2015-08-08 03:38] #96 closed

[2015-08-08 07:08] vheuken opened #97 "New Travis-CI infrastructure causes 429 (Too many requests) HTTP error"
I tried to update to the new Travis-CI infrastructure, but it causes the Youtube scraper to give 429 HTTP errors. I imagine Youtube, for whatever reason, just blocked that IP.

This isn't an issue on the legacy infrastructure, but we should let Travis know and see if they have a solution, since the legacy infrastructure will surely be removed eventually.

If they can't fix it, we could try using a

[2015-08-09 19:21] thibaudgg commented on #97
Too bad, we should definitely let Travis-CI about that issue! Could you take care of it?

[2015-08-12 00:52] SkylerLipthay commented on #82
Hi! I'm in a particularly strange scenario where I can only source my gems from rubygems, so sourcing from master is unfortunately not an option. At the risk of sounding impatient, is there anything holding up the 2.4.3 release? Anything I can help with?

Thanks for everything, and a special thanks to @vheuken for all of your recent work on the YouTube scraper — seriously useful.

[2015-08-12 10:02] thibaudgg commented on #82
@SkylerLipthay sorry to hear that, we're now waiting for #95 but I guess we could release 2.5.0 in the meantime. @vheuken what do you think?

[2015-08-12 20:04] vheuken commented on #82
@thibaudgg I think we can do that, considering people seem more concerned about a new release than they do about having to get API keys for Vimeo and that I won't have time to work on #95 for at least a couple of days.

[2015-08-13 07:08] thibaudgg commented on #82
2.5.0 has been released, thanks guys!

[2015-08-13 07:08] #82 closed

[2015-08-13 08:15] SkylerLipthay commented on #82
Thank you both very much!

[2015-08-19 02:04] gbean467 opened #98 "Unable to pull YouTube Title, Description, Duration, and Date"
Ever since the API change by YouTube I haven't been able to get the title, description, or date of any videos. The duration is also not working as it always returns a value of 0. The available also appears broken as it always returns false (as noted in other issues). The video_id, provider, thumbnails, etc. have all been working just fine. I was excited for the latest release (2.5.0), but it didn'

[2015-08-19 02:08] vheuken commented on #98
That's odd. Are you using the scraper or the API?

Are you sure you're using 2.5.0? Try this and see if it helps:

[code]

[2015-08-19 02:22] gbean467 commented on #98
I uninstalled all version of video_info, cleaned, and reinstalled. It doesn't seem to have changed anything. I am pretty sure I am using the API. My code is as follows:

    VideoInfo.provider_api_keys = { youtube: '<MYKEY>' }
    begin
      video = VideoInfo.new(url)
    rescue
      errors.add(:url, "URL link is not valid")
      return
    end
    puts(video.available?)
    if !video.available

[2015-08-19 02:27] vheuken commented on #98
Can you try it with the scraper? To use the scraper, just delete the first line `VideoInfo.provider_api_keys = { youtube: '<MYKEY>' }`

I just tried it with the scraper and it worked fine:
[code]

[2015-08-19 02:38] gbean467 commented on #98
Deleting the first line gives me the following error:
SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed

Is this related?

[2015-08-19 03:16] gbean467 commented on #98
The SSL error only happens when I try to pull available, date, duration, title, and description (same as API).

[2015-08-19 03:22] vheuken commented on #98
Huh, this is very odd.

Could you try cloning this repository, running rspec, and seeing if the tests pass?

[2015-08-19 03:50] gbean467 commented on #98
Assuming I did this right I 366 examples, 96 failures, 1 pending. What information would be beneficial?

[2015-08-19 03:52] gbean467 commented on #98
It looks like this error is consistent:
    OpenSSL::SSL::SSLError:
        SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed

[2015-08-19 04:44] vheuken commented on #98
The tests all pass on my machine, Travis-CI, and other people's machines, so the issue seems to be unique to your PC. So I don't think I'll be able to reproduce it.

It looks like your issue has been discussed here: http://stackoverflow.com/questions/4528101/ssl-connect-returned-1-errno-0-state-sslv3-read-server-certificate-b-certificat

Have you looked into any of the solutions posted there?

[2015-08-19 14:52] gbean467 commented on #98
I tried a few simple solutions. I'll give it some more solid effort later today.

[2015-08-20 01:20] AppyCat opened #99 "Uninitialized constant error in production"
I am getting the same uninitialized constant error on my production server that has ruby 2.2.2 and Rails 4.2.3. Exact same settings on my development laptop work just fine, but not so on the server.

Production server OS is Debian Wheezy. Here's the error in the production log file:

NameError (uninitialized constant Admin::ReelsController::VideoInfo):
  app/controllers/admin/reels_controller.rb:5

[2015-08-20 02:12] vheuken commented on #99
It sounds like you didn't put `require 'video_info'` at the top of the file.

[2015-08-20 03:53] AppyCat commented on #99
Thank you, that fixed it.

[2015-08-20 03:53] #99 closed

[2015-08-21 00:47] gbean467 commented on #98
I've tried updating openssl on my computer, adding certs, removing and reinstalling gems, and so on, but nothing seems to work. In the end I think it could likely be because I am coding on a Windows machine.

http://stackoverflow.com/questions/8567973/why-does-accessing-a-ssl-site-with-mechanize-on-windows-fail-but-on-mac-work

But after making all these changes on my local machine I re-deployed a

[2015-08-21 04:15] vheuken commented on #98
Cool. Sorry it won't work on your Windows machine. Since the issue appears to be outside the scope of video_info, I'm closing this issue.

[2015-08-21 04:15] #98 closed

[2015-08-22 18:17] YXsagittarius commented on #98
With the same problem, and I'm using mac, could you help me?

[2015-08-23 01:03] vheuken commented on #98
@YXsagittarius StackOverflow would probably be a better place to ask.

[2015-08-28 12:30] alexis opened #100 "An exception with some types of youtube urls"
The following code:

    VideoInfo.new('http://www.youtube.com/v/mZqGqE0D0n4').title

Raises an error for me:

[code]

At the same time, `VideoInfo.new("http://www.youtube.com/watch?v=mZqGqE0D0n4")` works fine. Is it a bug?

[2015-08-28 19:19] vheuken commented on #100
The reason you're getting that error with the first type of URL and not the second type is because you're using the parser, and that URL doesn't have anything to parse. Have you tried using the API? See [here](https://github.com/thibaudgg/video_info#usage) for info on how to use it. That being said, I've never tried these types of videos so I'm not sure if it'd work.

Regardless, we should probabl

[2015-08-30 19:27] vheuken commented on #100
I just checked, and that URL appears to work fine with the API, so I'll work on making it work with the scraper.

[2015-08-31 04:41] vheuken commented on #100
@alexis I just pushed the fixes to master. Those types of URLs should work with both the scraper and API.

If you'd like to try it without waiting for the next release, you can add this to your Gemfile:

`gem 'video_info', github: 'thibaudgg/video_info'`

[2015-08-31 04:41] #100 closed

[2015-08-31 04:43] vheuken opened #101 "Two Vimeo specs fail"
I noticed this while I handled #100

`Vimeo#available?` returns `true` with videos that don't exist and videos that are password protected.

I'll take a look at this when I look at #95

[code]

[2015-08-31 05:05] vheuken commented on #101
I fixed this in commit a6e11c4a89022fd0e78360979ac92a8f84b98efe by making `available?` return false when the response code is 400. This doesn't seem to break any of the other specs, but I'm not sure if this is the best solution. I might have to take a deeper look at how the API requests for Vimeo are handled.

For now, I'll mark this as fixed. I'll make a note in #95 to check this out.

[2015-08-31 05:05] #101 closed

[2015-08-31 05:05] vheuken commented on #95
Reminder to have a look at #101 when I tackle this.

[2015-08-31 11:03] alexis commented on #100
Thanks, @vheuken

[2015-09-02 02:27] AknEp commented on #82
Great! I'll update to 2.5.0 :tada:

[2015-09-02 17:49] 0mega opened #102 "Kernel.open(url) method returns unparseable content for some Youtube links"
There is an issue in [link_thumbnailer](https://github.com/gottfrois/link_thumbnailer/issues/69#issuecomment-137073683) which origin is in the content passed [from video_info to oga gem using Kernel.open(...)](https://github.com/thibaudgg/video_info/blob/master/lib/video_info/providers/youtube_scraper.rb#L93-L95)

If anyone is interested in solving, I can provide more details.

[2015-09-02 23:46] vheuken commented on #102
Maybe we shouldn't be using `open` at all since [it seems like a bad idea in general](http://sakurity.com/blog/2015/02/28/openuri.html)

That would certainly be helpful.

[2015-09-02 23:47] vheuken commented on #102
I noticed that link_thumbnailer [is using 2.4](https://github.com/gottfrois/link_thumbnailer/blob/master/link_thumbnailer.gemspec#L25). 2.5 is out. Have you tried using that?

[2015-09-03 00:15] 0mega commented on #102
@vheuken Yes it might be a good idea to get rid of open after reading that. But I'd open another issue with enhancement label for that.

For now the fix would be to change [this line](https://github.com/thibaudgg/video_info/blob/master/lib/video_info/providers/youtube_scraper.rb#L93) to be:
`video_id = url.split('/v/')[1].split('?')[0]` this will discard all unnecessary query params which make the

[2015-09-03 00:21] vheuken commented on #102
That is odd. since the line you mentioned is introduced after 2.5 (it will be in 2.6). It was literally added three days ago. Were you using the master branch or something?

[2015-09-03 00:28] vheuken commented on #102
Can you give me an example of a URL with params that cause problems?

[2015-09-03 00:44] 0mega commented on #102
Hmm, that's strange, I was actually playing with the 2.4 which got installed along with link_thumbnailer. And then I started looking at master of video_info and installed it, that's why it worked I guess.
A little confusion with versions.

The url that fails is this one https://www.youtube.com/watch?v=Y45Zq-yKpRw. Which works fine with 2.5 btw.

[2015-09-03 00:53] vheuken commented on #102
That URL is actually handled by line 97 in that file. The stuff you linked
to is only relevant for URLs formatted like `youtube.com/v/{VIDEO_ID}` so
it should never be an issue.
On Sep 2, 2015 5:44 PM, "Oleksandr Kruk" <notifications@github.com> wrote:

[2015-09-03 14:00] 0mega commented on #102
It was late yesterday and I somehow made it work, but it wasn't the 2.5 that solved it, I think I might have changed the actual installed video_info gem's code.

to is only relevant for URLs formatted like `youtube.com/v/{VIDEO_ID}` so
it should never be an issue.

It becomes an issue because of the way this URL is used in link_thumbnailer. It parses the Youtube OG data and the result of that is t

[2015-09-03 15:53] vheuken commented on #102
@0mega Ah, I see. I just tested master with the URL `https://www.youtube.com/v/ylTY9WbMGDc?someParam=foo` and I saw the issue. I changed that line to the one you suggested, added a test for it, and pushed it to master. Can you try the current master code?

[2015-09-03 17:14] 0mega commented on #102
Yes it's working =) thanks. Just a note, I think you accidentally committed _video_info-2.5.0.gem_ file.

[2015-09-03 17:35] vheuken commented on #102
I think we're waiting for #95, #62, #86, and #65 to be fixed before we do a version bump. I'm going to try to get that ready by this weekend.

For now, you can add this to the Gemfile to use the master branch:

`gem 'video_info', github: 'thibaudgg/video_info'`

Whoops! Fixed.

[2015-09-03 17:35] #102 closed

[2015-09-03 20:01] vheuken opened #103 "Version 2.6 Release"
I'm going to spend some time soon handling the latest batch of issues so we can release version 2.6.

The tasks at hand:
- [x] [Implement Vimeo scraper](https://github.com/thibaudgg/video_info/issues/95)
- [x] [Convert Networking errors into custom exceptions](https://github.com/thibaudgg/video_info/issues/62)
- [x] [400 Bad Request error suppressed when invalid API key is provided](https://github

[2015-09-03 20:21] vheuken opened #104 "Pin all dependencies to a specific version"
It is probably a good idea to pin every dependency to a specific version. Right now the only thing pinned is `multi_json` because of #66. Pinning the rest of the dependencies will prevent issues like that from happening again.

[2015-09-04 22:14] 0mega opened #105 "Specs failing due to different locale"
[code]

I tried sufixing the URLs with hl=en [based on this doc](https://developers.google.com/youtube/player_parameters?hl=en#hl) but nothing changed.

[2015-09-04 22:34] vheuken commented on #105
Looks like with `hl=` you end up getting this:

![ ] (http://i.imgur.com/0Gdj6v2.png)

Which you need to click before it works.

I wouldn't spend too much time on this. Might be best to just have the specs to use non-localized videos/playlists.

[2015-09-09 12:04] 0mega commented on #86
For me this only returns false when the API key is invalid. When API key is empty, `#available?`returns true (on master). So probably there is no issue anymore.

[2015-09-09 12:08] thibaudgg commented on #86
@zdb do you confirm?

[2015-09-09 12:56] #104 closed

[2015-09-09 13:01] vheuken commented on #86
I also get the same behavior that @0mega described.

[2015-09-09 13:10] vheuken commented on #95
Started working on it in the branch `vimeo-scraper`

[2015-09-10 02:45] vheuken commented on #86
The behavior @0mega and I experienced is because now with no API key, it just uses the scraper.

The real issue here is that we aren't actually telling the end user that the API key is invalid.

I modified the title from "VideoInfo::Providers::Youtube.available? returns false when API Key not supplied or invalid" to "400 Bad Request error suppressed when invalid API key provided"

[2015-09-10 16:43] ttseng opened #107 "Issue with Vimeo Thumbnail"
I saw that Vimeo now requires authentication, so I registered my app and generated an authentication token.  However, it seems like trying to get the thumbnails using something like ```VideoInfo.new(video_url).thumbnail_large``` is returning a 400 bad request.

Does this mean you can no longer grab the thumbnails using the Gem?

[2015-09-10 23:18] vheuken commented on #107
No, [thumbnails should be working.](https://github.com/thibaudgg/video_info/blob/master/spec/lib/video_info/providers/vimeo_spec.rb#L146)

Can you double check to make sure the API key you provided to `VideoInfo.provider_api_keys = { vimeo: 'YOUR_API_KEY' }` is correct? I believe `400 bad request` is returned when the API key provided is invalid.

[2015-09-11 00:39] ttseng commented on #107
I am using a generated access token for my api key.  I didn't see any parameter on vimeo titled "api key," so I wasn't sure what to use.  Should I be using something else?

[2015-09-11 03:45] vheuken commented on #107
I'm actually not sure. I didn't write the Vimeo API code (that was @zdb) and I don't personally use Vimeo.

Vimeo documentation says to register your application here: https://developer.vimeo.com/apps/new  and they will then let you create a key. Have you tried that?

If that isn't working for you, I can give it a try and see if I can better tell you where to get the key. The key should [look like

[2015-09-11 03:53] ttseng commented on #107
Ok, I have confirmed that it should be the client identifier, which I have switched too.  This is the error I am getting when trying to retrieve a thumbnail:

MultiJson::ParseError: JSON::ParserError
	from /Users/ttseng/.rvm/gems/ruby-2.1.7/gems/multi_json-1.11.2/lib/multi_json/adapter.rb:19:in `load'
	from /Users/ttseng/.rvm/gems/ruby-2.1.7/gems/multi_json-1.11.2/lib/multi_json.rb:119:in `load'

[2015-09-11 04:06] zdb commented on #107
@ttseng
The API token is obtained via the Authentication tab of your app.  It should be the access token that is generated like bellow.

![image](https://cloud.githubusercontent.com/assets/1664197/9806824/ea275f92-57fe-11e5-9bdd-7ded0bdd5f97.png)

embed_url, and provider are just string interpolation using the parsed id.  They don't require an API call.    Methods like title, author, thumbnail do.

[2015-09-11 04:11] ttseng commented on #107
Using the access token, I still get the same multijson parseerror

[2015-09-11 04:12] zdb commented on #107
What is the url you are having problems with?

[2015-09-11 04:14] ttseng commented on #107
this is the vimeo video:
https://vimeo.com/markdayschool/review/108439895/b0b4dda4ef

I just saw that for other vimeo links, it works, such as https://vimeo.com/127438804

[2015-09-11 04:20] zdb commented on #107
Yes, I was unaware that url format existed.  It must be extracting an invalid video id during the url parsing.

[2015-09-11 04:42] ttseng commented on #107
I can't say much about the details of how the video was uploaded or shared...this is a video someone else attempted to post my Rails app and reported having issues with.

[2015-09-11 04:47] zdb commented on #107
I am getting strange behavior via the Vimeo API.

GET https://api.vimeo.com/videos/108439895 returns an empty 200 OK
GET https://api.vimeo.com/videos/108439895/credits returns valid results
as do the other extended urls.

[2015-09-11 04:59] vheuken commented on #107
@zdb That's odd. Would this be something that we could work around?

[2015-09-11 05:13] zdb commented on #107
For this specific case, I think we would have to resort to scraping the url.  I just tried the video id on the v2 api and it also has problems.

http://vimeo.com/api/v2/video/108439895.json

[2015-09-11 05:40] vheuken commented on #107
Considering [we're already doing this in the Youtube scraper](https://github.com/thibaudgg/video_info/blob/master/lib/video_info/providers/youtube_scraper.rb#L79) I don't mind that fix very much.

Also, I recently started working on the Vimeo scraper and I noticed that there seems to be quite a few different types of video pages in Vimeo. I'm not to deep into it, but a function to extract the ID f

[2015-09-11 20:43] zdb commented on #107
So I contacted Vimeo and they fixed the 200 response. Repsonse is now 404 with json response of {  "error": "The requested video could not be found"}.  This response is issued when the video does not exist, or the video is private and there are insufficient privileges to view it.

[2015-09-12 09:00] vheuken commented on #107
@zdb @0mega has changed one of the Vimeo specs to use a different video URL. The diff is here: https://github.com/0mega/video_info/commit/5054492f6a02959cda4d7d1ef6c0361692469531  and his explanation is in #108

[2015-10-01 18:33] #62 closed

[2015-10-11 10:21] 0mega commented on #86
I started looking  at this. So the expected behavior seems to be to raise an exception (ex: VideoInfo::ApiKeyError) when user token is supplied and the response from api is 400 (so we assume the token is invalid).

This will affect all methods, not just the `#available?`, so any method which calls `#data` method would raise the VideoInfo::ApiKeyError in this case.
The problem is that I'm sure this

[2015-10-11 22:37] vheuken commented on #86
Hm.... I mean, the behavior sounds perfectly reasonable, but I don't like the idea of breaking other people's code on what should be a minor release.

Maybe we can have them fall back to the scraper if the API key is invalid? The thing is I'd want to make sure they *know* that they fell back to the scraper. Not sure what the best way to accomplish this is. Any ideas?

[2015-10-19 20:39] 0mega commented on #86
@vheuken having a fall back to scraper seems nice.
And we can allow people to configure a logger for video_info in initializer which will log the error message when invalid API key is provided. It would also warn them that scraper is being used instead.

[2015-10-20 15:41] vheuken commented on #86
Yeah, that sounds like the best solution. Go for it~

[2015-10-27 01:49] 0mega commented on #86
Hi guys, I decided it would be better to simply log a warning when a user provided invalid API key. The other solution was getting a bit messy. I think this is OK, when people provide API key, they want to use the API and not a scraper.

[2015-10-27 08:23] vheuken commented on #86
Fixed in PR #110

[2015-10-27 08:23] #86 closed

[2015-10-27 08:38] vheuken commented on #103
Looks like all that is left is the Vimeo scraper. I'll work on that soon!

[2015-11-29 19:32] maia commented on #103
@vheuken, is there any news on the release schedule of version 2.6? In case it needs some more time, how about moving the vimeo scraper to 2.7 and releasing the status quo as 2.6?

[2015-11-29 20:44] vheuken commented on #103
@maia I'll be making time for it tonight. Sorry for the delay.

[2015-11-30 12:54] vheuken commented on #95
Heads up: It looks like we can't get the view count without the API, so the scraper will be missing that.

[2015-11-30 13:39] vheuken commented on #95
Alright, here's what's left:

1. `#date` and `#duration` need to be implemented
2. `#view_count` needs to be handled gracefully
3. `#available?` needs to handle nonexistant videos and password protected videos
4. VimeoPlaylist needs to be handled

[2015-11-30 15:47] aryalsan commented on #95
Great.

[2015-12-02 06:22] vheuken commented on #95
Alright, just gotta fix `#available`, implement VimeoPlaylist scraper, and do cleanup.

[2015-12-02 06:26] vheuken commented on #103
if you guys want status on the Vimeo scraper, see: https://github.com/thibaudgg/video_info/issues/95#issuecomment-160628927

[2015-12-14 23:28] maia opened #112 "compatibility with iso8601 gem version 0.9?"
`iso8601` 0.9.0 is not compatible with previous versions, see [here](https://github.com/arnau/ISO8601/blob/master/CHANGELOG.md). You're specifying it with `~> 0.8` which should either be replaced by `0.8.7` or, in case video_info is already compatible with 0.9.x, with `~> 0.9`.

[2015-12-15 05:07] vheuken commented on #112
Thanks for the heads up. I just upgraded to 0.9 and the tests pass on my machine. If they pass on Travis I'll close this issue. Thanks!

[2015-12-15 05:19] vheuken commented on #112
Huh, looks like after upgrading, Travis is actually failing for an unrelated reason (looks like I should have also pinned the development dependencies).

[2015-12-15 05:30] vheuken commented on #112
Okay, since the error was unrelated and it seems the tests run fine on my end, I'm closing this issue.

[2015-12-15 05:30] #112 closed

[2016-01-08 03:21] abrambailey opened #113 "YouTube not working."
Here is YouTube. I was getting an error about the API key, but I've fixed that.
[code]
Vimeo is working fine:
[code]

[2016-01-08 03:56] vheuken commented on #113
Did you enter a Youtube API key, or are you using the scraper (if no API key is supplied, it defaults to the scraper)?

[2016-01-08 04:22] vheuken commented on #113
I just tested both the API and scraper and both seem to be working fine.

Can you try the following:
1) Confirm that you are using the latest version of video_info (2.4.2) with `VideoInfo::VERSION`
2) Post what version of Ruby you are using (we only actively support 2.2.0+)
3) Try cloning the repository and running `bundle install && rspec`.

Thanks.

[2016-01-08 05:17] abrambailey commented on #113
Hey thanks for responding @vheuken ... Yes, I did enter the API key and I'm using 2.5.0  (I noticed that was also included in the `VideoInfo` object above).

`ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-darwin14]`

I used `gem 'video_info', git: 'https://github.com/thibaudgg/video_info.git'` in my gemfile..

[2016-01-08 05:23] vheuken commented on #113
Huh, so you're pulling from master. Master is ahead of 2.5 by a few commits.

Can you try just `gem 'video_info'`? You might have to uninstall the current gem (I'm not sure if RubyGems can tell the difference between 2.5 and the 2.5 in master).

[2016-01-08 05:28] abrambailey commented on #113
Ok, I did `gem uninstall video_info`and rebundled .. still seeing the same error. Is there any way to get more verbose output ... still just seeing `nil` for `video.title` and `false` for `video.available?` ... Vimeo still working as expected.

[2016-01-08 05:38] vheuken commented on #113
No, there is currently no way to get a more verbose output. That is something that should be fixed.

Are you sure your API key is valid? You can try cloning the repository and running the test suite, or you can go [into the spec and get the API key it uses](https://github.com/thibaudgg/video_info/blob/master/spec/lib/video_info/providers/youtube_api_spec.rb#L5) and try that.

Also, have you tried

[2016-01-08 05:48] abrambailey commented on #113
OK, I think I realized what the problem is. I'm testing locally and I guess I need to be whitelisted. The API key is correct and works from my server for geocoding and other APIs... I found out by using the ruby geocoder gem which presents the error `Google Geocoding API error: request denied.`

[2016-01-08 05:57] abrambailey commented on #113
Ah, finally figured it out. My IP address changed when I changed ISPs ... Doh! Thanks for your help man.

[2016-01-08 06:05] vheuken commented on #113
Cool. Glad you figured out your issue. Closing this.

[2016-01-08 06:05] #113 closed

[2016-01-10 17:12] maia commented on #95
@vheuken Any news on the status quo? The [link_thumbnailer](https://github.com/gottfrois/link_thumbnailer/issues/69) gem has an issue since September 2015 that can't be fixed without an update of video_info (there's a branch, but I'd prefer using a release version over a github branch).

Do you need any assistance the community could provide? Or is it an option to release the current status withou

[2016-01-11 00:12] vheuken commented on #95
@maia I actually started working on it again a couple weeks ago. I believe I finished up the Vimeo scraper, but I haven't started the VimeoPlaylist scraper (also there's some cleanup that still needs to be done). If you or someone you know would like to help, they can work off of the `vimeo-scraper` branch,, though at this point there isn't much left to do. I'll try my best to get to it this week.

[2016-01-12 18:11] maia commented on #95
@vheuken Thanks, I'm looking forward to it. And in case it's an option to release the status quo without vimeo playlist support, I'd be fine with that too.

[2016-02-22 20:54] maia commented on #95
@vheuken Hello again – is there any news on a new release, even without playlist support? Thanks!

[2016-02-22 23:24] vheuken commented on #95
I'm planning on finishing the Vimeo playlist scraper tomorrow night. Sorry for the lack of updates.

[2016-02-24 07:26] vheuken commented on #95
Hm, bit of an issue. All of the VimeoPlaylist API specs are failing. Might take me a big longer than I anticipated. Should be done this week though.

[2016-02-29 21:57] vheuken commented on #95
@thibaudgg There is a bit of an issue. It looks like the /albums/ API endpoint has been deprecated. I could be wrong, but it may have never been included in the v3 API and it just happened to work before. It looks like all the current API provides is the ability to get a list of a user's albums. I think I can still do the scraper, but the API part will have to be dropped.

[2016-02-29 22:50] maia commented on #95
Albums don't seem to be used much. I might have biased data, but out of all urls with vimeo.com as domain, less than 1% contain `vimeo.com/album`, and some of these are `vimeo.com/album/…/video/…`. And if vimeo dropped support, we may assume they are phasing out that feature?

[2016-02-29 23:18] vheuken commented on #95
I honestly haven't even heard of a Vimeo album/playlist until a few months ago when I started helping out with this library, so I think you might be right. Also, the HTML changed and broke one thing for the Vimeo scraper (should be a simple fix), so I'm really wary about adding in another scraper.

It would really suck if someone depends on this feature and it was dropped, but I mean, right now it

[2016-02-29 23:46] g3ortega opened #114 "Issue with format of youtube playlists url"
Hi, I am starting to use this gem for a recent project. It's very good, I just had a problem related to youtube urls for playlists.

When I copied/pasted a playlist, youtube gives me the following format:
https://www.youtube.com/playlist?list=PLxg-INKFfByBR49TtCz1A9t4qCm5msNki

In the docs I find that you work with this format:
http://www.youtube.com/playlist?p=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr

[2016-03-01 01:36] vheuken commented on #114
Hi @g3ortega,

I clicked your first link and it says "The playlist does not exist". Are you sure you got the URL right?

[2016-03-01 07:14] vheuken commented on #114
Ah, okay. I understand your issue now. It is the `&list=`. Thanks for the report. I'll get a fix in soon.

For future reference, a proper URL to test with:
`https://www.youtube.com/playlist?list=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr`

[2016-03-01 07:51] thibaudgg commented on #95
I see no issues about dropping a deprecated Vimeo feature that doesn't even work in our gem.
Please remove it. Thanks!

[2016-03-01 07:55] vheuken commented on #95
Great.

[2016-03-01 21:53] vheuken commented on #95
Should be done and in master. Just waiting for Travis-CI to do it's thing before I close this.

[2016-03-01 21:55] vheuken commented on #107
Can you guys try the master branch now? Vimeo scraper should be in and we'll push a new version shortly. Sorry for the wait!

[2016-03-01 22:16] vheuken commented on #103
I added #114 in. Should be pretty quick

[2016-03-01 22:29] #114 closed

[2016-03-01 22:30] vheuken commented on #114
Fixed. Should be in the next release!

[2016-03-01 22:30] vheuken commented on #114
Keep an eye out on: https://github.com/thibaudgg/video_info/issues/103

[2016-03-01 23:09] g3ortega commented on #114
Thank you! Sorry for my late response. Really appreciated!

[2016-03-01 23:34] vheuken commented on #95
Travis passes!

[2016-03-01 23:34] #95 closed

[2016-03-01 23:34] vheuken commented on #103
@thibaudgg We're ready for the 2.6 release!

[2016-03-02 03:32] vheuken commented on #107
Anyone know if this problem is still relevant? @zdb? @ttseng?

[2016-03-02 03:36] vheuken commented on #105
Closing because this is not a bug with the library. If this affects anyone, they can manually look at the output or just use Travis-CI.

[2016-03-02 03:36] #105 closed

[2016-03-02 03:37] vheuken commented on #90
This might be fixed when #97 is handled. I'll be looking at that again soon.

[2016-03-02 03:52] vheuken commented on #97
This is not an issue anymore apparently. We're now using Travis-CI's new infrastructure. It seems to be much faster!

[2016-03-02 03:52] #97 closed

[2016-03-02 03:55] vheuken commented on #90
Nope, looks like handling #97 didn't fix it.

[2016-03-02 03:58] vheuken opened #115 "Update to Oga 2.2"
Probably a good idea to update Oga. It is our only out of date dependency and they appear to not be supporting 1.X anymore.

[2016-03-02 04:26] vheuken commented on #115
Handled in dafb12a. There were no issues.

[2016-03-02 04:26] #115 closed

[2016-03-02 08:10] #103 closed

[2016-03-02 08:10] thibaudgg commented on #103
Just released 2.6, thanks for your great work @vheuken!

[2016-03-02 08:12] thibaudgg opened #116 "Reducing Gems Dependencies"
Following Mike Perham post: http://www.mikeperham.com/2016/02/09/kill-your-dependencies

It could be a good idea to review our gems dependencies and maybe removing some of them.

[2016-03-02 14:19] vheuken commented on #116
Good idea. Just taking a quick look, we should be able to drop `multi_json` pretty easily. I'll take a deeper look soon.

[2016-03-02 15:13] thibaudgg commented on #116
Great, thanks @vheuken

[2016-03-02 22:38] vheuken commented on #116
- [ ] multi_json
- [ ] htmlentities
- [ ] addressable
- [ ] iso8601
- [x] ~~oga~~ Keeping. Definitely need it for the scrapers
- [ ] open_uri_redirections
- [ ] net_http_timeout_errors

[2016-03-03 07:48] thibaudgg commented on #116
:heart_eyes:

[2016-03-04 04:53] vheuken commented on #116
So now we have three gems: `iso8601`, `oga`, and `net_http_timeout_errors`. Woo!

I'm was going to handle PR #83 soon. Maybe after that we'll be ready for a new release, unless you have anything else in mind. I'd also like to confirm whether or not #107 is still an issue.

[2016-03-04 04:53] #116 closed

[2016-03-04 14:58] thibaudgg commented on #116
Awesome thanks! Ping me when you need to release a new version, I'll give you the right on rubygems.

[2016-03-05 05:31] vheuken commented on #107
I'm closing this issue. The relevant URLs don't seem to be valid anymore. If anyone has another example, please let me know.

[2016-03-05 05:31] #107 closed

[2016-03-05 05:55] vheuken commented on #90
Right now the issue seems to be that jruby on Travis will always use `jruby 1.7.19 (1.9.3p551)` *even if you explicitly tell it to use jruby-9000 or jruby-head`.

Should probably be reported to Travis-ci.

[2016-03-05 06:02] vheuken commented on #90
Okay, figured out how to get jruby-9000 working on Travis. Still a ton of weird SSL issues though. It works fine on my machine, though, so this must be a Travis-CI issue.

[2016-03-05 06:19] vheuken commented on #90
So, I'm not totally sure of a solution since I really don't fully understand the problem. Regardless, jruby works fine on my machine, and jruby is already an "allowed failure". Perhaps we should close this issue. What do you think, @thibaudgg?

[2016-03-05 06:32] vheuken commented on #90
Also, Rubinus passes on Travis-CI now. Maybe we should stop that from being an allowed failure now? I'm not sure how many people still use Rubinous (I don't really follow Ruby anymore), but it might be nice to say that we support it if only because it implies our code is portable and of high quality,

[2016-03-05 06:36] vheuken commented on #90
Actually, I just noticed that all of the failing Jruby specs are due to Vkontakte. I think I will spend some time next week investigating why that is.

[2016-03-05 06:42] vheuken commented on #90
@drakmail You wrote the Vkontakte code, no? Any ideas on what could be going on?

[2016-03-05 06:47] vheuken commented on #90
I could be wrong, but it looks like you're just scraping the page. Maybe we should port this over to how Oga handles it, because that's what we use for VimeoScraper and YoutubeScraper. If nobody objects, I think I'll try and do that next week sometime.

[2016-03-05 09:08] vheuken commented on #90
Okay, sorry. I jumped to conclusions too fast. The code is fine, and the issue doesn't seem like it can be solved by that. I'll keep investigating.

[2016-03-05 09:19] vheuken commented on #90
I just fixed the issue. There is an option in Travis to update to JDK 8. Seems to work now!

[2016-03-05 09:19] #90 closed

[2016-03-07 20:19] vheuken opened #117 "Handle some hound-ci/rubocop things"
Since I've started working on this, there have been several issues involving Hound-CI that make contributing a bit confusing. For example:
* I think we've established that we don't care about line length when it comes to string literals
* In the specs, we use double-quoted strings a lot when we don't need them. I find this acceptable because this seems to be common practice with RSpec and it is wh

[2016-03-07 20:21] vheuken opened #118 "Add a changelog for 2.6"
Currently we have no real Changelog. A simple changelog would be a nice addition, especially since this is a reasonably popular gem. We can start with 2.5 -> 2.6 pretty easily and continue from there.

[2016-03-07 20:24] thibaudgg commented on #118
This is our changelog: https://github.com/thibaudgg/video_info/releases
Forget adding details about 2.6 :fearful:!

[2016-03-07 20:25] vheuken opened #119 "Add author fields to services which currently don't have them implemented"
This has been partially done in PR #83, but it isn't complete and a rebase would be a big hassle.

The three fields in question:
* Author Thumbnail
* Author Name
* Author Domain

[2016-03-07 20:26] thibaudgg commented on #117
Good point, we should advertise our Rubocop config and usage. We're using the [Hound-CI default](https://raw.githubusercontent.com/houndci/hound/master/config/style_guides/ruby.yml) documented here: https://houndci.com/configuration#ruby.

:+1:

[2016-03-07 20:27] vheuken commented on #118
Whoops! I wasn't aware. Thanks for letting me know! As far as I know, all the relevant 2.6 things are listed in #103. Changing the title.

[2016-03-07 20:29] vheuken commented on #117
Cool, thanks for pointing that out. I'll handle this as soon as I can. I'll also run through the codebase and see if any style issues fell through the cracks.

[2016-03-07 20:29] thibaudgg commented on #118
Great could you edit it then? https://github.com/thibaudgg/video_info/releases/edit/v2.6.0
Thanks!

[2016-03-07 20:30] thibaudgg commented on #117
Perfect :ok_hand:

[2016-03-07 20:34] vheuken commented on #118
Done! https://github.com/thibaudgg/video_info/releases/tag/v2.6.0

[2016-03-07 20:34] #118 closed

[2016-03-08 02:06] vheuken opened #120 "Merge API/Scraper specs"
Right now the specs for the API and Scrapers are two different files. The actual specs are virtually identical save for a couple differences. It would be a huge maintenance plus if we could merge them into one.

[2016-03-08 03:28] vheuken opened #121 "Add "Features" section to README"
Right now, the only way to see what information the library provides is to look through the code examples. I think a list of bullet points on what information it provides (title, author, thumbnail, etc) at the top of the README would be nice for people just finding the gem.

Going to wait for #83 to get done so we have a more uniform set of features across providers.

[2016-03-08 05:50] vheuken commented on #117
@thibaudgg I made a branch where I set the rubocop config to use hound-ci's rubocop config. The issue is that Hound-CI's default is to prefer double quote for string literals. However, this was overridden by your rubocop config, which contained:

[code]

Are you okay with preserving that? Else we'd need to go through and change a bunch of single quotes to double quotes, which would be easy enough,

[2016-03-08 06:49] vheuken commented on #117
#122 Fixed all rubocop warnings in the provider source files. I'll go ahead and do the remaining files some other time. We'll also need to add documentation, which I'll handle when I fix the remaining warnings.

[2016-03-08 07:12] vheuken opened #123 "Replacing Travis-CI"
So, on Travis-CI, we've been getting frequent-but sporadic 500 errors with APIs and 429 errors with scrapers. I'm starting to think this is an unavoidable issue due to the nature of our tests.

I think a good option would be to roll my own CI system on a VPS (I have a couple so it's no big deal for me, plus I enjoy doing servery stuff). This will also allow us to run nightly builds, which would be

[2016-03-08 07:33] thibaudgg commented on #118
:+1:

[2016-03-08 07:33] thibaudgg commented on #120
Good point, maybe some shared example could help: https://www.relishapp.com/rspec/rspec-core/docs/example-groups/shared-examples

[2016-03-08 07:34] thibaudgg commented on #121
:+1:

[2016-03-08 07:36] thibaudgg commented on #117
I'm personally in the `single_quotes` camp side as well, so let's keep it that way. :+1:

[2016-03-08 07:52] thibaudgg commented on #123
These HTTP errors are pretty annoying, we could give a try to [rspec-retry](https://github.com/NoRedInk/rspec-retry) on Travis.

[2016-03-08 09:10] vheuken commented on #117
Went ahead and cleaned up the rest of lib/. Now we're totally clean on that front. I've decided to go ahead and do the stuff in spec/, too. That way we should be able to only accept PRs that completely pass the linter. Much neater that way. I'm hoping to get to that and the rest of the issues this weekend.

For what it's worth, we also definitely ended up with cleaner code because of it!

[2016-03-08 09:16] thibaudgg commented on #117
Yup, big fan of Rubocop!

[2016-03-08 18:52] vheuken commented on #123
We could try, but with the frequency of the issues I don't think it will help. My best guess is that there are a ton of other people making API calls and pulling pages from sites like Vimeo/Youtube and it triggered some flag in their systems. I'm not sure if you remember, but the original reason we didn't switch over to the new Travis infrastructure was because the Youtube scraper would fail becau

[2016-03-09 03:13] vheuken commented on #119
Keeping a changelog here of what I've implemented:
`#author`: YoutubeAPI

[2016-03-09 04:39] vheuken commented on #119
So I'm having a really strange issue with `#author_url`. I keep getting:

[code]

You can see the spec [here](https://github.com/vheuken/video_info/blob/author/spec/lib/video_info/providers/youtube_spec.rb#L240) and you can see the partial implementation [here](https://github.com/vheuken/video_info/blob/author/lib/video_info/providers/youtube_scraper.rb#L22) .....I can't for the life of me figure

[2016-03-09 04:44] vheuken commented on #119
Also for what it's worth, I put `#author` and `#author_thumbnail` for Youtube in master and have updated the documentation accordingly.

[2016-03-09 05:44] vheuken commented on #119
Found the issue. I needed to add `:author_url` [here](https://github.com/thibaudgg/video_info/blob/893446010dd1e909619b672793fb8132e7d578d5/lib/video_info.rb#L57)

Good to know!

[2016-03-09 06:16] vheuken commented on #119
I believe now it just needs to be implemented for Wistia, Vimeo, DailyMotion, Vkontakte, and possibly YoutubePlaylist. I'll hopefully get to these and the rest of the issues this weekend.

[2016-03-09 07:46] thibaudgg commented on #123
@vheuken I see, we should maybe then store VCR cassettes in our git repo and use the [Automatic Re-recording](https://relishapp.com/vcr/vcr/v/3-0-1/docs/cassettes/automatic-re-recording) feature.

[2016-03-09 07:50] thibaudgg commented on #119
Ok great, glad that you figure it out! What do you think about making pull request for that kind of feature improvement, committing directly on master for small changes/fixes is fine, but for feature addition the require multiple commits I think PR are a better fit. It allows us to review them more properly as well.

Thanks!

[2016-03-09 16:12] vheuken commented on #123
Well, we do have the infrastructure setup for that, so that sounds like the best option. I *really* don't like having all of those fixtures constantly getting committed, but if it is the best way to handle it, then I guess it needs to be done.

[2016-03-09 16:14] vheuken commented on #119
Good idea. I was actually originally intending to do everything in a branch and then just manually merge it into master myself, but I got a bit overzealous with my merging. PR definitely sounds like a better workflow for this.

[2016-03-09 19:02] vheuken commented on #119
Sent in PR #124 for Vimeo. Still need to handle Wistia, Vimeo, DailyMotion, and Vkontakte.

[2016-03-09 19:28] vheuken commented on #123
Yeah, adding the fixtures back into the repo seems to have solved the problem. It's kinda annoying that we have to deal with a ton of meta files being added/removed every week, but I guess it's the best solution.

Also, @thibaudgg what would you say to taking JRuby and Rubinous out of "allowed failures"? To the best of my knowledge they are both 2.2+ compliant and we have no problems unique to the

[2016-03-09 19:28] #123 closed

[2016-03-09 19:30] thibaudgg commented on #123
Yes that's not ideal but that the price to pay, I guess we can still re-recording every 1 week.

Sure, if they're passing reliably I've no objections.

[2016-03-09 20:08] vheuken commented on #119
It looks like the concept of an "author" is not really a thing on Wistia, so it's just Vkontakte, DailyMotion, and possible YoutubePlaylist

[2016-03-09 20:32] vheuken commented on #119
I implemented #author_url and #author in Dailymotion without much trouble at all. However, it looks like there is no way to get the author thumbnail via the API. Should we resort to page scraping for that?

[2016-03-09 21:12] vheuken opened #125 "Unpredictable issue in VimeoScraper"
About three times in the past several days, I've had to fix an issue in the Vimeo scraper:

[code]

The root cause is because I am assuming that the relevant data is in the `nth` script tag. Should find a better way to handle this.

[2016-03-09 23:58] #125 closed

[2016-03-10 01:20] vheuken commented on #119
Looks like all that is left is YoutubePlaylist. I'm not even sure if this is applicable to that, but we'll see!

[2016-03-10 16:22] vheuken opened #128 "Vkontakte#author_url isn't right"
As @drakmail mentioned in #126, my guess for VK's `#author_url` was wrong. Should be fixed.

The example in the README should also be updated as part of this issue.

[2016-03-10 16:24] #119 closed

[2016-03-10 16:26] vheuken commented on #119
Completed now that #127 is merged in.

[2016-03-10 16:34] vheuken commented on #121
Done. Check it out in master.

[2016-03-10 16:34] #121 closed

[2016-03-11 19:30] vheuken commented on #117
Went from 357 errors down to 162 in PR #129. Hopefully I can get to the rest this weekend!

[2016-03-11 20:48] vheuken opened #130 "Facebook support"
Facebook support would probably be a good feature to add. It looks like they have an API for video data: https://developers.facebook.com/docs/graph-api/reference/video

Haven't looked into whether or not it requires an API key. If so, we'll also need a scraper.

[2016-03-11 20:53] vheuken opened #131 "#keywords API inconsistency"
I noticed while cleaning up the specs that the return type for `#keywords` is inconsistent across different providers.

[code]

Youtube returns an Array, Vimeo returns a string. I think the standard behavior should be Array.

Obviously, fixing this would be a breaking change, so we'd need to bump the version to `3.0.0` (which would also be fitting, since getting #130 in would be a pretty big featu

[2016-03-11 22:35] vheuken commented on #117
Now running Rubocop brings up 0 errors! Let's keep it that way!

[2016-03-11 22:35] #117 closed

[2016-03-11 23:30] thibaudgg commented on #131
Go for arrays everywhere! :+1:

[2016-03-11 23:30] thibaudgg commented on #117
:+1:

[2016-03-12 20:09] vheuken commented on #131
PR #133 Handles the Vimeo part of it. Waiting on @drakmail to see how to best approach the Vkontakte side where '#keywords' seems to just be the description.

[2016-03-13 00:24] vheuken commented on #128
Fixed in #135

[2016-03-13 00:24] #128 closed

[2016-03-13 04:03] vheuken commented on #120
I think I have a solution for this. Just gotta clean it up a bit. I'll let you look at it via PR to okay it. (For what it's worth, I think it's quite elegant)

[2016-03-13 16:09] vheuken commented on #131
I decided to make `Vkontakte#keywords` return nil since there are no real "keywords" in Vkonakte videos as far as I can tell. This should also allow us to add a different implementation in without having to consider it a breaking change. If anyone thinks this approach isn't good, let me know.

[2016-03-13 16:09] #131 closed

[2016-03-13 16:46] vheuken opened #139 "Modify Rubocop config"
[code]

As for formatting specs, we should aim for something like:
[code]

[2016-03-13 16:51] vheuken commented on #120
Handled in PRs #138, #137, and #136

[2016-03-13 16:51] #120 closed

[2016-03-13 16:53] vheuken commented on #139
@thibaudgg It looks like we already have that exact config in .rubocop.yml, so I'll try changing up the spec format again.

[2016-03-13 17:02] vheuken opened #141 "Fix the pending YoutubePlaylist spec"
We have a pending YoutubePlaylist spec waiting on an API fix. Since the fix doesn't appear to be happening, I think we should investigate. There could be a workaround now, or I easily could have messed something up in the initial implementation.

[2016-03-13 17:11] vheuken commented on #139
Fixed in #140

[2016-03-13 17:11] #139 closed

[2016-03-13 17:17] vheuken commented on #141
Yeah...doesn't look doable. I thought I saw something on the API docs that could have helped but I was wrong. People are still complaining about the bug, too.

[2016-03-13 17:17] #141 closed

[2016-03-13 17:33] vheuken opened #142 "v3.0 release"
I think once #130 is implemented we can release `3.0.0`.

Current changelog:
- [x] Significantly reduced gem dependencies
- [x] `#author`, `#author_url`, and `#author_thumbnail` implemented
- [x] `Vkontakte#keywords` now returns `nil`
- [x] `Vimeo#keywords` returns an array instead of a string
- [x] More consistent behavior between API and scrapers in various scenarios
- [x] Various bug fixes

TOD

[2016-03-13 18:27] thibaudgg commented on #142
👍🏻

[2016-03-15 01:52] vheuken commented on #130
The Facebook API is basically useless to us. There is no "API Key" necessarily, just OAuth stuff that requires some form of user authentication, so we'll have to resort to just page scraping.

[2016-03-15 18:02] vheuken commented on #130
@thibaudgg Bit of an issue. I've implemented `#author`, `#author_url`, and `#author_thumbnail` just fine (though just for one URL type). It seems that we can't get duration or video thumbnail because Facebook loads that content dynamically. We can still get the description (Facebook videos don't really have a title). With such little actual video content, I'm starting to think that this isn't wort

[2016-03-15 19:38] vheuken commented on #130
You can verify what I said by opening up  the source of a Facebook video URL and searching for "mediaPresentationDuration=\", then doing a wget on the page. It just isn't there and there doesn't seem to be any other alternative info.

[2016-03-15 20:04] drakmail commented on #130
Parsing facebook is a really bad idea. I tried to do it some time ago – it's almost impossible :-)

There are could be an easy way to get the access token (according to this SO answer: http://stackoverflow.com/a/8932353/979469) to use Graph API. Maybe it's better than trying to parse pages.

[2016-03-15 20:22] thibaudgg commented on #130
If scraping is not really an option, I guess we should try to only use the API with a valid token and forget about the other possibilities. I'm fine with that.

[2016-03-15 21:23] vheuken commented on #130
@drakmail It seems like the closest I can find is a a "Client Token". Using it as an access token gives me 400 "Invalid OAuth access token"....so I'm not really sure where to go from here. I'm not sure how much the FB API has changed, but the answer was from over four years ago, so things are likely a bit different now.

[2016-03-15 21:28] vheuken commented on #130
https://github.com/nov/fb_graph2 might be worth looking into to see how they handle things.

[2016-03-15 21:29] vheuken commented on #130
Ah, here we go: https://github.com/nov/fb_graph2/wiki/Obtain-Access-Tokens

[2016-03-16 03:31] vheuken commented on #130
**FINALLY** got the basic API working. Turns out you can substitute an access token (which needs to be generated, which isn't really doable for us) with both your app-id and app-secret like so: `app_id|app_secret`

So the URI ends up being:
`'https://graph.facebook.com/v2.5/{video_id}?access_token={app_id}|{app_secret}'`

That being said, here's all the data I got from it:
`"{\"description\":\"If

[2016-03-16 03:43] vheuken commented on #130
Ok that was obvious: `fields={parameters}`

`'https://graph.facebook.com/v2.5/1071390929550268?fields=from,description,length&access_token=app_id|app_secret'`

Gives:
[code]

(Name looks screwy because it is in unicode)

Cool. So now this should be pretty simple to implement. Of course, we'll have to have a way for users to enter in an app id and a secret. maybe just:
 `VideoInfo.provider_api_keys

[2016-03-16 09:53] vheuken commented on #130
Got `#author`, `#author_url`, `#description`, and `#duration` implemented. I'll try to get the rest in soon.

I also need to test more URL types, but that can come after initial implementation.

You can follow the progress here: https://github.com/vheuken/video_info/tree/facebook (I'll submit a PR when it's close to done)

[2016-03-16 10:06] vheuken commented on #130
@thibaudgg It looks like there is only one available thumbnail for a video (at least, that's all the API provides). Assuming we're stick with just one, how would we go about naming that? Our current convention seems to be `#thumbnail_large`, `#thumbnail_medium`, and `#thumbnail_small`.

My idea is to have a default method `#thumbnail` for all VideoInfo objects that is just aliased to `#thumbnail_l

[2016-03-16 11:32] thibaudgg commented on #130
Sounds good!

[2016-03-16 13:07] drakmail commented on #130
Sounds really good, but does `#thumbnail_medium` and `#thumbnail_small`methods will be exists for providers that doesn't provide that sizes?

[2016-03-16 16:47] vheuken commented on #130
@drakmail I'm not sure, actually. I mean, I'd say no _or_ having them return `nil`, but I haven't really given it any thought. Any preference?

[2016-03-16 18:14] drakmail commented on #130
@vheuken I think it's better to return `nil` rather than raise an exception or return same thumbnail.

[2016-03-16 18:47] vheuken commented on #130
Perfect. I'll go for that then.

[2016-03-16 18:52] vheuken opened #143 "API consistency checkup"
Since we're releasing v3.0, we might as well go through and make sure we won't need any other breaking changes in the near-ish future. It'd probably be a good idea to do a thorough double check of the API to make sure everything is consistent.

[2016-03-16 18:55] vheuken opened #144 "Default #thumbnail method"
As discussed in #130, we should have a `#thumbnail` method that is aliased to `#thumbnail_large` by default. For providers that don't provide multiple thumbnail sizes, we should return have `#thumbnail_large`, `#thumbnail_small`, and `#thumbnail_medium` return `nil`

[2016-03-16 19:19] thibaudgg commented on #143
Yes that's right, feel free to challenge any thing.

[2016-03-18 18:32] vheuken commented on #130
I mentioned this in the PR, but I'm restating it here so that I remember that it needs to be documented:

While `#{app_id}|#{app_secret}` works for public videos on pages, we need an actual "user authentication token" for user videos (even if they're public). The issue is that getting one involves a user logging in, so it isn't really an option for automated testing. Also, what videos you can get

[2016-03-19 05:18] vheuken commented on #130
Looks like we can't get the dimensions of Facebook videos, so `#width` and `#height` will have to return `nil` for now.

[2016-03-20 18:25] vheuken opened #146 "Minor thing regarding Travis-CI and code coverage reporting"
I noticed that the Code Coverage seems to have went down rather significantly for some reason. It appears to be reported via Travis-CI. I noticed in PR #145  that coverage went up to 100% at least once.

 I looked into it:

Ruby 2.3 and 2.2.4 both report "Coverage is at 100.0%."
JRuby reports "Coverage is at 0.0%."
Rubinous reports "Coverage is at 87.78%."

I get the impression that Coveralls does

[2016-03-24 15:56] olivattaque opened #147 "Add persistence so video are saved in db"
Hi !

First thanks for your work, i'm using your gem in some of my projects :)
However I always implement persistence myself because I don't wan't to ask youtube everytime i go from one page to another and because video posts are the main purpose of my project so they are seen a lot.

However it present some problems : I have to do it every time in new projects, I have to maintain myself a method

[2016-03-24 16:58] vheuken commented on #147
I think this is out of the scope of this gem. You seem to be using Rails, but there are tons of other ways people talk to a database in Ruby besides ActiveRecord. It wouldn't be feasible to support everything, and wouldn't be reasonable just to support Rails.

That being said, I'd love to help make video_info easier for your use case.

I'm not terribly familiar with Rails, but what if we could pro

[2016-03-24 22:59] vheuken commented on #147
As for your second example, regarding the embed code helper, is there any reason yo can't use the embed_code provided by video_info?

[2016-03-25 06:08] drakmail commented on #147
I think it's better to implement such functionality in another gem (something like video_info_rails).

[2016-03-25 08:37] thibaudgg commented on #147
ˋvideo_info-rails` please :-)

[2016-03-25 09:38] olivattaque commented on #147
Thank you for your kind and encouraging answers :+1:

For embed_code I didn't want to store it in the database as it is suppose to be the same for all instance (with just the embed url changing, same for embed_url as it's just the id changing) and I can't access to it otherwise that means creating a VideoInfo on top of me getting my VideoInformation which doesn't make sense.

As I'm pretty new to

[2016-03-25 10:11] olivattaque commented on #147
Actually the problematic for embed_code is pretty much the same for thumbnails also (static but depending on providers).
In my case I have to save them otherwise that would mean recoding the purpose of your gem into my application which is not ideal.
That's may be another good reason for video_info-rails so I can use the methods embed_url, thumbnail_small etc. from your classes

[2016-03-26 05:16] vheuken commented on #147
I'm going to close this issue. Actual persistence or Rails-specific support is outside the scope of the project.

Thinking back, the module idea I proposed isn't really doable because of how Ruby modules work (I forgot; whoops!)

A separate gem for Rails specific support may be started by someone, but I don't think I have the time/energy to consider doing it myself nor do I know what would belong

[2016-03-26 05:16] #147 closed

[2016-04-03 19:10] Brotakuu opened #149 "YouTube Author Undefined Method"
Excellent gem. But testing with a random url, the author method is undefined.

Url tested: https://www.youtube.com/watch?v=_CvBNRxpRqU

NoMethodError: undefined method `author' for #<VideoInfo::Providers::Youtube:0x007fc2c8fdc7e8>

[2016-04-04 02:17] vheuken commented on #149
Hi @Brotakuu

I just tested it and it seems to work fine:

[code]

Few questions:
1) What version of video_info are you using? Use `VideoInfo::VERSION` to check (the current version is 2.6)
2) Are you using the API or the scraper? If you provided an API key, you are using the API. Else, you are using the scraper.

[2016-04-09 09:02] Brotakuu commented on #149
Hey @vheuken

Sorry for the late reply. I just tried again and the error persists. Here's the log:

[code]

And I am using the API (able to fetch certain parameters only available using API).

[2016-04-09 09:05] Brotakuu commented on #130
This would be a very timely feature with the new facebook live videos platform released. http://newsroom.fb.com/news/2016/04/introducing-new-ways-to-create-share-and-discover-live-video-on-facebook/

[2016-04-10 19:01] vheuken commented on #130
Good idea. I'll look into that.

[2016-04-10 19:07] vheuken commented on #149
That's interesting. I'll look into this tonight. Thanks for the report.

[2016-04-11 20:06] dguardio opened #150 "Issue with getting started documentation"
For newbies to rails like me, it is unclear where the API keys go and if there are other requirements to get this gem working in our apps. Questions like does the gem require a column on the db in which am going to use it or does it work standalone? comes to mind.
Thanks for your speedy response.

[2016-04-12 00:36] vheuken commented on #150
Well, first off, this gem has nothing to do with Rails. It is pure Ruby. You are free to use it with Rails if you desire. It does not have any concept of a database. It simply returns a Ruby object containing the info for the video. You can use this information to populate a database if you so desire.

As for the API keys, I'm not sure I understand the confusion. You would simply do:
`VideoInfo.pr

[2016-04-12 00:41] vheuken commented on #149
@Brotakuu Can you try doing it again? I hit the same bug as you yesterday, but when I just tried it now it seems to work fine:

[code]

[2016-04-12 07:12] dguardio commented on #150
Never knew it was pure ruby. Thanks for the heads up. So setting the API keys is purely console based.

[2016-04-12 08:12] vheuken commented on #150
No, you can do it anywhere in the code. Where in the code depends on your codebase.

Closing this issue as this isn't really about the library.

[2016-04-12 08:12] #150 closed

[2016-04-14 20:43] Brotakuu commented on #149
Thanks for looking into it. Looks like its working now. So it was a Youtube issue?

[2016-04-14 20:43] #149 closed

[2016-04-15 00:32] vheuken commented on #149
I'm not sure. That's what is a bit concerning to me. If it is a Youtube issue, we should be failing more gracefully...

[2016-04-15 05:58] Brotakuu opened #151 "YouTube Live Video Status"
With the growing popularity of YouTube live and its compatibility with this `video_info` (Live videos have the same url format and the gem is already compatible with live videos), it would be useful to add the Live video status.

I added the api method `live_broadcast_content` which returns `none`, `live`, or `upcoming` (or `nil` for invalid or unavailable videos).

API Docs:
    https://developer

[2016-04-15 06:44] vheuken commented on #151
Was this supposed to be a pull request?

I understand that this is how the Youtube API names it, but I don't think mimicking the API is the right choice here. We might add other providers with live broadcasted content (like Facebook currently has).   Perhaps just `.live?`, `.live_broadcast?`, or `.is_live?`  would work better.

[2016-04-15 06:57] Brotakuu commented on #151
Good point. Changed it to ".live_stream" to avoid any confusion with the video being available/unavailable.

I was unable to push a new branch, so I created a fork:
https://github.com/Brotakuu/video_info

[2016-04-15 07:16] vheuken commented on #151
I was actually thinking more along the lines of a function that returns a boolean along with a function called `.live_status` or something that returns a symbol (`:live`, `:upcoming`, `:ended`) or `nil` if it isn't a live stream.

That being said, a bit more discussion should be had before this feature gets implemented. We should look into how Facebook handles it so we can have a consistent API be

[2016-04-15 07:31] Brotakuu commented on #151
Makes sense to look into Facebook video and implement a consistent API across multiple platforms.

Btw, do you have any suggestions for running tests on live videos? Since there's no way to consistently test against `:live` or `:upcoming`.

[2016-04-15 07:42] vheuken opened #152 "Handle live broadcasts (Youtube/Facebook)"
This has been discussed in #151 with @Brotakuu

* `.live_stream?` function that returns whether or not the video is a live broadcast
* `.live_status` function that returns a symbol reflecting the status or nil if it is not a live stream. Potential return values are `:live`, `:upcoming`, and `:ended`, though we should look into the info we can get from Facebook and Youtube first.
* Need to figure o

[2016-04-15 07:43] vheuken commented on #151
I do not, but I'm sure there's a library to mock API calls or something. We'd need to look into it.

I made a separate issue for this (#152) with some of the stuff we talked about here summed up.

[2016-04-15 07:43] #151 closed

[2016-04-17 01:01] Brotakuu commented on #152
Looks like facebook similarly has a `live_status` field that returns `enum` status of the video.

https://developers.facebook.com/docs/graph-api/reference/video/

[2016-04-17 22:16] vheuken commented on #152
Right. We'd need to find out exactly what it returns. I'll try to play with it tonight while I'm working on FB support.

[2016-05-02 21:01] drakmail commented on #146
As can I see at this moment there is a 100% code coverage

[2016-05-04 12:16] drakmail opened #154 "Release 2.6.1"
Does it's possible to release 2.6.1 with fixes for vkontakte scraper?

[2016-05-04 20:27] thibaudgg commented on #154
@vheuken I just added you as an owner on rubygems, feel free to release a new version. 👏

[2016-05-04 21:45] vheuken commented on #154
Thanks. I'm going to do that tonight after I fix the Vimeo stuff.

[2016-05-05 01:19] vheuken commented on #154
Fixed the Vimeo issues (they were just issues with the spec). Once Travis passes I'll bump the version and push it!

[2016-05-05 01:30] vheuken commented on #154
@drakmail 2.6.1 is pushed!

Rubinous fails on Travis, but that's just because of a Travis issue...I think I'm going to put JRuby and Rubinous back into `allowed_failures` as they are far too fragile.

[2016-05-05 01:30] #154 closed

[2016-05-05 01:46] vheuken commented on #146
Yeah, it looks like it's reporting 100% now and has been consistently for awhile. Closing this.

[2016-05-05 01:46] #146 closed

[2016-05-05 07:32] thibaudgg commented on #154
@vheuken 👍

[2016-05-11 15:01] scepion1d opened #155 "NoMethodError: undefined method `css' for nil:NilClass"
I've tried to get thumbnail of video from Vimeo but receive this error. It happens if video doesn't exist. As example you could try vimeo example from README.md.

[2016-05-13 07:00] vheuken commented on #155
Thanks for the report. I'll have a look at the issue this weekend.

[2016-05-30 17:43] opetznick opened #156 "unexpected network error"
hey there

tried to scrape a youtube video on my local machine and it worked perfectly. tried the same on the production environment (ubuntu server, same ruby version) and it throws an unexpected network error.

[code]

any ideas?

thanks in advance

[2016-05-31 04:02] vheuken commented on #156
Interesting.

Are you using the scraper or the API? If you didn't provide an API key, you're using the scraper.

Also, what Ruby version are you running?

[2016-05-31 07:12] opetznick commented on #156
without apikey so using the scraper. ruby version 2.3. firewall should be no issue. any idea on debugging this?

[2016-05-31 07:19] vheuken commented on #156
We actually had a similar issue with Travis-CI before errors were implemented. Youtube decided to block Travis servers from scraping their pages and redirect it to a page with a Captcha.

Can you try this on the problematic server:
`wget https://www.youtube.com/watch?v=5TvkLlKutfM`

Examine the contents. You should be able to find the video title, view count, etc. If Youtube is blocking your serve

[2016-05-31 07:25] opetznick commented on #156
this is really weird:

[code]

[2016-05-31 07:29] vheuken commented on #156
Okay, so it isn't an issue with video_info, but with your server provider. It was most likely caused by another customer making too many requests.

My suggestion would be to get an API key. It should work with that. You can follow the instructions here: https://developers.google.com/youtube/registering_an_application

[2016-05-31 07:29] #156 closed

[2016-05-31 09:06] vheuken commented on #155
Fixed in master. Now if the video does not exist, the scraper will return `nil` for all info.

[2016-05-31 09:06] #155 closed

[2016-06-02 05:23] vheuken commented on #144
Done.

[2016-06-02 05:23] #144 closed

[2016-06-28 04:46] bengalamx opened #157 "Url is not usable by any Providers"
A raise error is too much when an invalid url is provided. Can we just get nil instead?

[2016-06-28 23:13] vheuken commented on #157
I was actually thinking about this not too long ago. While an error might seem like overkill, nil doesn't provide any information as to what was wrong.

For example, if I do `VideoInfo.new('hh')`, I get `VideoInfo::UrlError: Url is not usable by any Providers: hh`

If I do `VideoInfo.new('https://www.youtube.com/watch?v=FOO')`, I get `VideoInfo::UrlError: Url is not valid, video_id is not found`

[2016-06-28 23:22] vheuken commented on #157
That being said, it's pretty idiomatic to throw an error for a bad URL. I understand that unlike, say, `net/http`, `video_info` is going to mostly be used to handle input from end users.

May I suggest that, if you want nil on bad video URLs, just wrapping it yourself? For example:

[code]

[2016-06-28 23:22] #157 closed

[2016-06-28 23:23] bengalamx commented on #157
Yes that first helper would be great! But if it is too much for now, `info = VideoInfo.new(video)` should return nil, for doing something like `info.embed_code if info?` at least return empty html instead the embeded html

[2016-06-28 23:25] vheuken commented on #157
See my above comment. It is pretty trivial to wrap `VideoInfo.new` into a function that returns `nil` when passed an invalid URL.

[2016-06-28 23:27] vheuken opened #158 "Helper function to check validity of a URL"
Since we have all the regex already, it would be nice to have a helper function to check if a URL is a valid video URL. Something like `VideoInfo.valid_url?(url)` that checks against all of the providers' URL regex.

[2016-06-28 23:40] bengalamx commented on #157
That works very well
[code]
Thanks @vheuken

[2016-07-01 01:01] bala92 opened #159 "bug while using puma server, when I do exception handling"

[2016-07-01 09:40] thibaudgg commented on #159
Please provide more context and backtrace, we can do nothing with just an issue title.

[2016-07-08 05:00] vheuken commented on #159
It's been a week and no more info has been posted, so I'm closing this. @bala92 feel free to reopen if you have more details.

[2016-07-08 05:00] #159 closed

[2016-08-16 07:05] vheuken opened #160 "Vkontakte spec issues"
I was fixing up some old specs in preparation to do some more work and it appears that Vkontakte specs are having a lot of issues. It looks like at least a few of them are issues with videos that have been removed or made private or something.

@drakmail any chance you can look at it?

[2016-08-17 18:25] drakmail commented on #160
I'll fix issues in next few days, thanks for notice!

[2016-09-07 20:52] iantheparker commented on #38
Hello there, I'm getting this same error on version 2.6.1

**"undefined method `embed_code' for #<String:0x007fcae2200f08>"**

I'm using this, and the error is gone when I remove the embed_code()

`video = VideoInfo.new(video_url).embed_code(iframe_attributes: { width: 400, height: 350})`

Any ideas?

[2016-09-07 21:35] iantheparker commented on #38
I just saved out another variable to manipulate with the embed_code function and got it working. Not sure why it doesn't like it all in one line though.

`video = VideoInfo.new(video_url)`
`embed_code = video.embed_code(iframe_attributes: { width: 400, height: 350})`

[2016-09-08 00:33] vheuken commented on #38
@iantheparker That's interesting. Are you using the scraper or the API? If you didn't provide an API key, you're using the scraper.

[2016-09-08 00:36] vheuken commented on #38
@iantheparker I just tried this using the scraper and it seems to work fine. I can test with an API key later tonight:

[code]

[2016-09-09 09:56] clairezed opened #161 "Vimeo considered available while "This video does not exist""
Hello,

May there be a problem with vimeo availability detection ?
I've just been scrapping this link : https://player.vimeo.com/video/2847064, and VideoInfo detects it as available while it isn't anymore.

Do you think about a workaround ?

 VideoInfo::VERSION : "2.6.1"
ruby 2.3.0

[2016-09-09 10:17] clairezed commented on #161
Hm, it may be strangely a problem with the vimeo token we're using. There's no more problem when using other credentials.

[2016-09-09 13:53] #161 closed

[2016-09-09 16:25] iantheparker commented on #38
@vheuken I'm using the scraper. Still working fine while split into two lines though!

[2016-09-09 22:33] vheuken commented on #161
That's interesting. You said you were using the scraper or a different API key?

[2016-09-13 19:47] vheuken commented on #38
@iantheparker Could you reproduce it in IRB and copy/paste both the line and the error? Because `"undefined method `embed_code' for #String:0x007fcae2200f08"` would imply you're calling `.embed_code` on a string, not a video object.

[2016-10-17 14:06] stefan694 opened #162 "Add author fields to services which currently don't have them implemented"
Hi, I see that you closed this issue https://github.com/thibaudgg/video_info/issues/119 on march 10th  :

 It seems that it is still not working with DailyMotion.

[2016-10-18 05:33] vheuken commented on #162
You are correct. I'll have a look at getting this implemented tomorrow. Thanks for the report!

[2016-10-26 14:20] howells opened #163 "No info is returned"
I can't seem to get this gem to work as expected. Even with API keys specified for YouTube and Vimeo, I can't return any info at all.

`VideoInfo.new("https://vimeo.com/177713990")`

simply returns

`#<VideoInfo:0x007fdf416feeb0 @provider=#<VideoInfo::Providers::Vimeo:0x007fdf416fe7f8 @options={"User-Agent"=>"VideoInfo/2.6.1"}, @url="https://vimeo.com/177713990", @video_id="177713990">>`

The same

[2016-10-26 14:38] thibaudgg commented on #163
Seems normal, all data are eager loaded when you first requests them.
What happens if you try `VideoInfo.new("https://vimeo.com/177713990").title` ?

[2016-10-26 16:32] howells commented on #163
Oh, apologies - I didn't realise that, assumed it would return everything - works perfectly ;-)

[2016-10-26 17:13] howells commented on #163
Sorry - closed to soon. Almost me misunderstanding something, but I can't seem to return any info in my Rails app.

In a video model:

[code]

yet all of the `video` attributes return `nil`. The same url and code works perfectly in console, i.e. attributes are returned no problem.

Any ideas?

[2016-10-26 17:32] howells commented on #163
Oh it turns out I'm getting the error in my app - `unexpected network error while fetching information about the video` - but not on the console. This is my local dev machine; are you aware of issues when developing locally?

[2016-10-26 17:45] howells commented on #163
Somehow it's working now! No idea why it wasn't before.

[2016-10-26 17:45] #163 closed

[2016-11-04 08:16] j-arnaiz opened #166 "Add new version"
Hello,

Please add new version with thumbnail_maxres PR.

Thank you.

[2016-11-05 09:45] vheuken commented on #166
Hi @j-arnaiz

I was planning on waiting until #130 and #152 were completed to release a new version, but I've been very busy the past few months and I haven't had a chance to.

That being said, I think it would be acceptable to release a new version soon once #160 and #162 are done. I'm sure those can be completed soon.

Until then, you can simply put this in your Gemfile:
`gem 'video_info', git:

[2016-11-08 04:57] vheuken commented on #162
Fixed in master. To use it before the next version is released, add this line to your Gemfile:

`gem 'video_info', git: 'https://github.com/thibaudgg/video_info.git'`

[2016-11-08 04:57] #162 closed

[2016-12-11 20:21] vheuken commented on #160
@drakmail I'm working on fixing the VK stuff and I'm wondering if some of these are actually acceptable changes and I should just update the spec. Seems like a lot of slightly different URLs or VK urls instead of Youtube:

[code]

[2016-12-12 07:00] vheuken commented on #166
I'm closing this because there is already an issue about this.

[2016-12-12 07:00] #166 closed

[2016-12-12 07:01] vheuken commented on #160
Looks like I can't get the VK profile URL anymore, but instead the URL to the user's video list. Feel free to correct me if this is wrong but for now I'm going to change the expected resut of `#author_url`

[code]

[2016-12-12 07:33] vheuken commented on #160
@drakmail It appears that the following video's permissions have been changed to require you to be signed into VK.com:https://vk.com/video39576223_108370515.

Would it be possible for you to make it public?

[2016-12-21 14:08] nageune opened #168 "Is there a way to check if the link is valid?"
I know I can check if the video is available.
I have the block
`if VideoInfo.new(link).available?
blablabla
end
`
But I still get an error if the link is is not an actual video link.
is there a way to go about this?
Or am I restricted to use the rails check if the input is indeed a link like:
`if url =~ URI::regexp
    # Correct URL
end`

Thanks

[2016-12-21 14:12] nageune commented on #168
Just saw this feature is already being considered.

[2016-12-21 14:12] #168 closed

[2016-12-21 17:11] vheuken commented on #168
It is planned for 3.0, but is not currently implemented.

On Dec 21, 2016 6:13 AM, "nageune" <notifications@github.com> wrote:

[2016-12-25 15:16] drakmail commented on #160
@vheuken finally I'm fixed all issues in Vkontakte scraper!

[2016-12-25 17:33] #160 closed

[2017-01-07 15:25] drakmail opened #170 "Strange vimeo thumbnail url issue"
When I'm trying to get vimeo thumbnail (through scraper) I always getting this image:

![image example](https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F607241994_640.jpg)

Steps to reproduce:

[code]

One more thing: if I remove vimeocdn filter part of string (for example, if I left only this part: `https://i.vimeocdn.com/video/607241847_200x150.jpg`) than I getti

[2017-01-07 18:56] vheuken commented on #170
We're getting the image URLs from some JSON we ripped from a script tag (hacky, I know) and just modifying the resolution on the URL. It looks like the proper way would be to get them from meta tags, [which we already have code to do.](https://github.com/vheuken/video_info/blob/master/lib/video_info/providers/vimeo_scraper.rb#L150). The URL [here](https://i.vimeocdn.com/filter/overlay?src0=https%3

[2017-01-07 19:02] vheuken commented on #170
Looking at the videos in our tests, it looks like your video is actually a special case. Other videos don't have the overlay. [This video](https://vimeo.com/136971428) just has this: `<meta property="og:image" content="https://i.vimeocdn.com/video/531688239_1280x720.webp">`

I'm thinking we won't need different code to handle it (just gonna throw some regex at it...), but I'll add it to the unit t

[2017-01-08 21:41] vheuken commented on #170
It's fixed in master. I'll push a new gem out tonight. [It ended up being simpler to just remove the overlay. ](https://github.com/thibaudgg/video_info/blob/master/lib/video_info/providers/vimeo_scraper.rb#L147)

[2017-01-08 21:41] #170 closed

[2017-01-09 23:15] vheuken commented on #170
@drakmail  2.7 has been released on Ruby Gems. Feel free to upgrade.

[2017-02-06 16:05] Balaji-Ramasubramanian opened #171 "How to get all videos title from YouTube Playlist"
I have tried to get all the videos from a YouTube Playlist using the following code
[code]

It returns only the first 5 videos. I couldn't find a way to get all the videos from the YouTube playlist. How can i do it?

[2017-02-06 20:52] vheuken commented on #171
There is a bug in the YouTube API where not all videos in a playlist are
returned. I'll check tomorrow if a workaround exists yet.

On Feb 6, 2017 8:05 AM, "balaji12345" <notifications@github.com> wrote:

[2017-02-07 14:00] balaji12345 commented on #171
Thanks for replying. I could manage to get all the videos in a YouTube playlist using the https://github.com/Fullscreen/yt ruby gem. You may able to find a work around if you check that gem code. I prefer your gem over YT gem since your gem is more easy to integrate with other video services too.

Looking forward for a fix.

[2017-02-07 17:58] vheuken commented on #171
Thanks for pointing that out. I'll give it a look tonight!

On Tue, Feb 7, 2017 at 6:00 AM, balaji12345 <notifications@github.com>
wrote:

--
Vincent Heuken

[2017-03-06 16:33] Mrjaco12 opened #172 "Doesn't work well with frozen strings"
ruby version - `ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]`
VideoInfo version - `2.7`

Reproduce:

[code]

Error:

`RuntimeError: can't modify frozen String`
`from /usr/local/lib/ruby/gems/2.4.0/gems/video_info-2.7/lib/video_info/providers/vkontakte.rb:16:in 'strip!'`

Looks like there are two places in the `vkontakte.rb` file where `strip!` is used. It should be fairly easy to mov

[2017-03-06 16:36] vheuken commented on #172
Thanks for the report. I'll hopefully get to it soon. If I don't, feel free
to submit a PR!

I actually never thought about this case. I will keep it in mind moving
forward.

On Mar 6, 2017 8:33 AM, "Jacob" <notifications@github.com> wrote:

ruby version - ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]
VideoInfo version - 2.7

Reproduce:

url = "//player.vimeo.com/video/22439234".freez

[2017-03-07 04:25] vheuken commented on #172
@Mrjaco12 Fix should be in master now! It'll be pushed out in a new version soon enough. For now, you can use this in your Gemfile:

`gem 'video_info', git: 'https://github.com/thibaudgg/video_info.git'`

[2017-03-07 04:25] #172 closed

[2017-03-07 05:07] Mrjaco12 commented on #172
Dude, great work! Thanks a ton. It's always great to use an active well maintained project.

[2017-03-27 02:38] glebm opened #173 "YoutubeScrapers/API #available? should be public"
Forwarding to a private method generates a warning in ruby 2.4.0+ (as of https://github.com/ruby/ruby/commit/ef13e60fe07766549275c19f3e5112fb7773cf38), e.g.:

[code]

[2017-03-27 14:45] vheuken commented on #173
Thanks for the report. I'm going to have a look at this tonight.

[2017-03-27 15:58] caiotarifa opened #174 "YouTube Avaible Status"
Hi.

I am having a strange problem with a YouTube video that is unavailable, but the `avaible` method is returning as true.

I noticed in the method's code **returns true to any status unless it is `rejected`**.

Looking at the [YouTube documentation](https://developers.google.com/youtube/v3/docs/videos), I think other status should be considered, like `deleted` and `failed`.

Regards,
Caio Tarifa

[2017-03-27 16:10] vheuken commented on #174
Hi @caiotarifa,

Thanks for the report. I have a few questions:
1) Can you link me to the video in question?
2) Are you using the scraper or the API? If you didn't provide an API key, you're using the scraper.
3) What version of Ruby are you running?

[2017-03-27 16:12] vheuken commented on #174
As for other statuses, I agree. I think `available?` should remain boolean, but I'd defiantly consider another method for more details. Perhaps called `status` or something.

[2017-03-27 20:48] vheuken commented on #173
It looks like simply making `available?` public doesn't solve the warning. I'll investigate more.

[2017-03-27 22:28] caiotarifa commented on #174
I agree @vheuken, but `deleted` and `failed` should return `false` and not `true`.

[2017-03-27 23:01] vheuken commented on #174
@caiotarifa I agree. Can you link me to the video in question? It'd make it easier to have a URL on hand for when I try to fix it tonight.

And so I'm clear, you are using the API, not the scraper, right?

[2017-03-27 23:26] vheuken commented on #174
@caiotarifa I have tried the following videos:

https://www.youtube.com/watch?v=IjVZ-_d1DHU
https://www.youtube.com/watch?v=M0kXknv0y6Q
https://www.youtube.com/watch?v=voO37qwmLkg

All three seem to be unavailable for different reasons, and `available?` returns `false` for all of them. Please link me to the video you are having issue with.

[2017-03-28 14:22] vheuken commented on #173
Simply making them public doesn't appear to solve it. I'll keep
investigating.

On Mar 26, 2017 7:38 PM, "Gleb Mazovetskiy" <notifications@github.com>
wrote:

[2017-03-28 18:29] vheuken commented on #173
Sorry, it looks like my last comment was due to a configuration issue on my end. I pushed the fix to master and I'll push a minor version sometime this week.

[2017-03-28 18:29] #173 closed

[2017-03-30 14:51] caiotarifa commented on #174
Hi, @vheuken.

I am sorry, I was trying with an **embed URL**.

(Maybe it could be a feature? 😄 )

[2017-03-30 18:24] vheuken commented on #174
I'll think about that. That could be a good idea. I'm closing this issue, though.

[2017-03-30 18:24] #174 closed

[2017-07-17 11:05] azelenets commented on #171
https://github.com/thibaudgg/video_info/pull/175

[2017-07-17 13:45] justalever opened #176 "unexpected network error while fetching information about the video"
`unexpected network error while fetching information about the video`

I've been battling this error message off and on within an app I'm working on. I create an `access_token` for testing and have since tried the `client id` but believe I'm getting rate limited.

I have video listings on nearly every page of the app. All I'm trying to do is grab the duration of **vimeo** videos and display them o

[2017-07-17 14:02] vheuken commented on #176
Hi @justalever. First off let me say I've been extremely busy recently, but I will try to give this more attention this week.

First off, an obvious issue with the gem is you're getting that cryptic error message. At the very least it should contain the response code. I'll make an issue for that. Right now, with the information provided, I can't really say too much about your error.

Assuming you

[2017-07-17 14:02] vheuken opened #177 "Include response code in unexpected network error message"

[2017-07-17 14:03] vheuken opened #178 "Allow end users to modify the JSON filter in Vimeo"
This can be helpful to reduce the likelihood of rate limiting and decreasing the size of responses. May apply to other providers as well.

[2017-07-17 15:09] justalever commented on #176
@vheuken Thanks for the quick reply! No worries at all on urgency. I'm just trying to wrap my head around what could be the issue. I'll try it in `irb` and see how it goes. As far how many API calls I'm making it could be quite a bit. The app is a course type of app and each video lesson will display duration alongside it. I'm assuming on each page load that number can grow fast which I knew could

[2017-08-06 13:07] maia commented on #142
As #130 has stalled for the past months, I'd suggest releasing 2.8.0 including the commits since March 2017.

[2017-08-06 18:42] thibaudgg commented on #142
@maia that's fine for me, I let @vheuken take the final decision.

[2017-08-06 22:37] vheuken commented on #142
Good idea. I can ship it out tomorrow evening (I might need to update some
of the scrapers).

On Sun, Aug 6, 2017 at 11:42 AM, Thibaud Guillaume-Gentil <
notifications@github.com> wrote:

--
Vincent Heuken

[2017-08-08 19:56] vheuken commented on #142
Sorry, scratch that. I'll do it this weekend.

On Sun, Aug 6, 2017 at 3:36 PM, Vincent Heuken <me@vincentheuken.com> wrote:

--
Vincent Heuken

[2017-08-13 21:59] virtualflo commented on #158
i recommand to use the  rescue StandardError=>e (http://ruby.bastardsbook.com/chapters/exception-handling/). It's allow you to execute a specific code if you have an error.

For example here my code:

[code]

[2017-08-14 12:15] vheuken commented on #142
Looks like VK is broken, along with some other tests. I'll need to fix that before pushing a new version. I'll try my best to get to it over the next couple days.

[2017-08-14 20:39] drakmail commented on #142
@vheuken I could try to look at VK at this sunday

[2017-08-16 09:22] vheuken commented on #142
@drakmail That would be awesome! I think it might just be some test URLs that need to be updated.

[2017-08-24 05:05] lionel218 opened #179 "How can get likes and comments and uploaded_at for youtube video?"

[2017-08-24 05:31] #179 closed

[2017-08-24 05:52] vheuken commented on #179
@lionel218  I know you closed this, but currently you cannot get comments and likes.

You should be able to get `uploaded_at` from `#date`

[2017-08-24 05:54] lionel218 commented on #179
Hi @vheuken, Thanks for your kind response.
I've just fixed to get the statistics data using video.data['items'][0]['statistics']

Thanks

[2018-03-09 14:38] Spone commented on #173
Hi, I still have this issue with the `video_info` gem version 2.7

[2018-03-09 14:52] Spone opened #180 "NoMethodError with Youtube Scraper when the video has no description"
[code]

I expect `video.description` to return `nil` when no description is found, instead of raising `NoMethodError`.

I think this is the line where it should be fixed: https://github.com/thibaudgg/video_info/blob/master/lib/video_info/providers/youtube_scraper.rb#L67

[2018-03-09 15:30] thibaudgg commented on #180
Hi @Spone, thanks for the opening this issue. Could you please open a pull request with a fix, I'll review it quickly.

[2018-09-05 20:39] abrambailey opened #182 "How do you access the width of youtube thumbnails?"
The width per video thumbnail is returned in the hash as follows:
[code]
However, these seems to be no method to get the width, say for example `video.thumbnail_small.width`

[2018-09-12 19:10] vheuken commented on #182
@abrambailey That currently is not supported by the API. I can add this as a feature request, though I don't know when I'll have time to implement it.

[2018-09-12 19:10] #180 closed

[2018-09-12 19:55] abrambailey commented on #182
Unfortunately we had to move to using the youtube api directly so we could get the proportions out, but definitely would be a great thing to have for your gem :)

[2018-10-19 10:58] asiniy opened #183 "Warnings in 2.5.1"
If you're using this gem on ruby 2.5.1, you should get this warning

[code]

How could it be avoided?

[2019-03-15 17:35] Spone opened #185 "Instagram support"
Instagram is also hosting videos, it would be great to support scraping them with `video_info` :)

It's pretty easy to do because the source code for a video page, such as https://www.instagram.com/p/BurC0_eFmS4/, contains all the data as JSON (search for `window._sharedData`)

[2019-03-15 19:54] thibaudgg commented on #185
Hey @Spone, sure thing, feel free to submit a pull request to add Instagram support.

[2019-12-10 01:53] pollinoco opened #186 "Update oga gem dependency to version 3.0"
Oga gem release 2.16, 2.17 was removed. "For the reason why that version was removed, see issue [#196 (closed)](https://gitlab.com/yorickpeterse/oga/issues/196). You should be able to update to v3.0 with no fear in most cases."

[2019-12-10 08:18] thibaudgg commented on #186
Hi @pollinoco,

I'm no more actively maintaining that gem, but if you prepare a pull request with the Oga gem upgrade, I will happily merge it and release a new version.

[2020-01-06 09:24] schugabe commented on #186
It would be great if you could release an update of this gem to fix the dependency issue.

[2020-01-06 19:09] thibaudgg commented on #186
I just published the version 2.7.1 with Oga 3 support.

Thanks @andrewkendall for the fix.

Closed by #187

[2020-01-06 19:09] #186 closed

[2020-01-22 19:39] mguidetti commented on #176
Resurrecting this old issue as I was also running into it recently. I noticed that it only seems to occur when I'm requesting the duration, similar to @justalever.

Seems strange but is it something with the duration property itself?

I'm only dealing with YouTube and Vimeo in my app.

[2020-04-06 19:17] ishields opened #188 "Exposing more video statistics"
Would it make sense to expose more statistics so they can be used when available?
The YouTube api returns a lot more useful statistics than what is available via the model (because the _video_statistics attribute is private).

[code]

Either these raw statistics could be available as a hash or as separate methods.  Any thoughts?

[2020-04-06 19:34] thibaudgg commented on #188
That sounds good to add, please feel free to open a pull request.

[2020-04-06 19:45] ishields commented on #188
Do you have a preference on whether to just expose "video_stats" or do individual methods for each statistic type?

[2020-04-07 06:30] thibaudgg commented on #188
I think `video_stats` should be enough to expose.

[2020-04-07 21:33] ishields opened #189 "Calling author_url twice errors out"
It appears that when using the YouTube api, calling author_url twice in a row causes an error.

This is very easily reproduced with:

[code]

[2020-04-08 06:47] thibaudgg commented on #189
That sounds like a bug, could you please submit a fix?

[2020-04-08 15:44] ishields commented on #189
Fix submitted https://github.com/thibaudgg/video_info/pull/190/files

[2020-04-08 17:38] ishields opened #191 "YouTube provider does not fetch standard"
The thumbnail_large method for the YouTube provider returns an image who's size is only 480x360
ex: https://i.ytimg.com/vi/cDmyGzFHMsE/hqdefault.jpg

The YouTube api returns an additional size of image that isn't accssible.
ex standard: https://i.ytimg.com/vi/cDmyGzFHMsE/sddefault.jpg

I think we need to add an additional thumbnail size.

thumbnail_large_2x

For other providers I will simply retur

[2020-04-08 17:50] ishields commented on #191
I was mistaken. The only one missing is standard.

[2020-04-08 19:39] thibaudgg commented on #191
Sure, I think that would be good to add, PR always appreciated 👍

[2020-04-10 13:33] ishields commented on #191
Is the plan to make a release for these two most recent fixes?

[2020-04-11 09:01] thibaudgg commented on #191
I have just released version 2.8, thanks for your help.

[2020-04-17 13:08] #189 closed

[2020-04-17 13:08] #191 closed

[2020-08-12 15:39] bearded-avenger opened #193 "YouTube - Title & Description Scrape Error"
Hey, thanks for the work on this gem. Really helpful.

I think something may have changed with YouTube, as the title and description now error. I was using the HTML scraper version, but tried with an API key and I get the same result. It happens with multiple videos, ruling out a single video issue.

When not using an API key, the error returned is:

[code]
When I use an API key it returns nil.

H

[2020-08-12 15:46] thibaudgg commented on #193
Hi @bearded-avenger, thanks for the issue, it certainly possible that Youtube changed something.

I'm not actively maintaining this gem, but pull requests to fix such issues are definitely welcomed. Please let me know if you need some help to submit one.

[2020-08-28 10:33] joaocv3 commented on #193
I can help with this one

[2020-08-29 15:02] joaocv3 commented on #193
Hi @bearded-avenger, thanks for the issue.

It seems like an extra step is necessary for Youtube now.

Besides generating the API key, it is necessary to enable the YouTube Data API for the project which your API key was generated. You can enable it here:
https://console.developers.google.com/apis/library/youtube.googleapis.com

Before enabling it for my project, I was getting this error too:
[cod

[2020-11-30 09:47] joaocv3 commented on #193
Hi @bearded-avenger!

[V3](https://github.com/thibaudgg/video_info/releases/tag/v3.0.0) has been released, solving this issue 🎉

[2020-11-30 09:47] #193 closed

[2021-09-22 21:37] fdc263 commented on #170
looks like it happened again
video: https://vimeo.com/612038106
thumbnail_large: https://i.vimeocdn.com/video/1249489398_640.jpg

[2021-09-23 07:50] NowakJR opened #206 "Cant fetch thumbnails"
Hey, so lately I've gotten into a problem with fetching thumbnails from vimeo, every single thumbnail in a project was vertical bars in colours of a rainbow.  It turned out vimeo changed their url format, and didnt bother to tell anyone(thread: https://community.roku.com/t5/Roku-Developer-Program/Vimeo-Thumbnail-is-not-showing-in-any-channel/td-p/721844)
So to get to the real thumbnails which are

[2021-09-24 14:23] pozelli commented on #206
Hey
How did you do the monkeypatch?
Thanks

[2021-09-25 02:07] fakenine commented on #206
Hey @NowakJR. I'd also be interested for the monkey patch while we wait for a fix, thanks :)

[2021-09-27 12:46] NowakJR commented on #206
Hi guys here is how I did the monkey patch: In file where i am fetching thumbnail URL i added these lines of code in Base class
[code]
I know variables names are kinda bad but I left them like that for a while until i have time to change them.

[2021-09-27 14:24] fakenine commented on #206
@NowakJR Thank you! I will test this

[2021-09-27 15:12] pozelli commented on #206
Yeah, it works! Thanks!

I created the file: config/initializers/video_info.rb with the following code:
`VideoInfo::Providers::VimeoAPI.module_eval do
  def thumbnail_id
    @thumbnail_id ||= _parse_picture_id(_video['pictures']['sizes'].first['link'])
  end
  def _parse_picture_id(uri)
    a, b, c = uri.split("/").last.split("-")
    d = c.split("_").first
    [a, b, d].join("-")
  end
end`

[2021-09-28 11:31] asgerb commented on #206
I've found that the patch fails on certain videos, here's a cleaned up version which works with all the videos I've tested:

[code]

[2021-09-29 12:09] NowakJR commented on #206
Awesome man! This also looks much better. Thank you very much for contributing @asgerb

[2021-11-14 20:43] ruanltbg commented on #206
Thank you @asgerb  and @NowakJR . That worked fine.

Hey @joaocv3 , any idea when we could have this merged in?

[2021-11-15 01:11] ruanltbg commented on #206
In some cases the first split has only two results, I had to modify the code to accept this case.

This is my code:
[code]
This works with these two types of videos:
- https://vimeo.com/245409458 (URI: "https://i.vimeocdn.com/video/670087024-8045c3b78cc946670e843fa0d1beb4e803c9a438347c6ed3b709e2022cacd292-d_100x75?r=pad")
-https://vimeo.com/623543586  (URI: "https://i.vimeocdn.com/video/1267692865

[2021-11-15 11:24] joaocv3 commented on #206
Hi guys, thanks for the inputs!

I couldnt find much time to work on it for the last weeks

just released v3.0.2 🚀

[2021-11-15 11:24] #206 closed